[2016-12-16 10:38] mastercoms opened #1 "Improper texture mipmap fade on DirectX"
This results in dark stickybombs and some other models. This seems to only happen on Windows.

There is a workaround: `mat_mipmaptextures 0`, but this reduces performance.

[2016-12-16 12:58] mastercoms opened #2 "Test async data cache loading"
TF2's code suggests async loading should be off if force load is on, but it is worth it to test.

[2016-12-16 13:00] mastercoms opened #3 "Look into matsys cvars"
A lot of the `mat_` cvars still need to be looked into.

[2016-12-24 17:00] #2 closed

[2017-02-08 15:02] JackStanley opened #4 "[SOLVED] Custom animations don't work with Filesystem cvars"
[code]
Yttrium's competitive viewmodels mod (I suppose every single animations mod) doesn't work in multiplayer game, but works fine in singleplayer (eg local tr_walkway server).

[2017-02-08 15:08] mastercoms commented on #4
Are your multiplayer servers running `sv_pure`?

[2017-02-08 17:57] JackStanley commented on #4
It doesn't matter because it is preloads every time i run the game (map_background preload_room; wait 20; disconnect), so it works even on valve servers

[2017-02-08 18:31] mastercoms commented on #4
Maybe try changing the mod load convars to 1

[2017-02-09 16:39] JackStanley commented on #4
Welp, I haven't fully tested yet, but i suppose it's not the filesystem cvars issue. As long as I remember I removed filesystem section and removed config.cfg, but it didn't help me. Going to test it out soon

[2017-07-29 20:37] JackStanley opened #5 "Thread on tf.gg"
I would love to see your config on http://www.teamfortress.tv since Comanglia had discontinued their own config.

[2017-07-30 04:38] mastercoms commented on #5
I don't think the config is ready quite yet. I still need to investigate and document CVars more before I'm comfortable with sharing with TFTV.

Besides, I'm expecting some sort of engine update in this next major update and I'd like to focus on that before the config gets popular.

[2017-08-08 16:15] mastercoms commented on #5
http://www.teamfortress.tv/42867/mastercomfig-fps-customization-config

[2017-08-08 16:15] #5 closed

[2017-08-13 21:03] JackStanley opened #6 "A mistake"
[code]

Already disabled (and should be)

[2017-08-13 21:39] JackStanley opened #7 "Config does not have enough customization options"
1. Comms right after cvars:
`m_mousespeed 0     // disable Windows mouse acceleration`

^ I can definitely see the cvar and comm

[code]
^ It's hard to see through code like this:

2.Also the config just seems to be more personal than for public, some things (like Threading; shadows) should have a better customization (options for 2 core cpu's for e.g), and some things should be set up to have a l

[2017-08-13 21:42] JackStanley commented on #4
Sorry for keeping this opened w/o any reminder about the issue being closed.

Loading anims async causes custom animations to not load at public servers.

[2017-08-13 22:06] #4 closed

[2017-08-13 22:08] mastercoms commented on #7
I've been working on a rewrite of the config to make it a lot clearer

[2017-08-13 23:44] mastercoms commented on #6
Fixed in https://github.com/mastercoms/tf2cfg/commit/583920911916602dc7f72d26bbf174f20f124a46

[2017-08-13 23:44] #6 closed

[2017-08-14 00:30] mastercoms commented on #7
Fixed mat_picmip being 4, that was a typo.
cl_mvm_wave_status_visible_during_wave 1 is already in the autoexec.cfg, enabled by default.

The rewrite of the config will include a comment structure rewrite and look over defaults/possible values for different types of systems.

[2017-08-14 04:03] JackStanley opened #8 "Config visual rewrite"
Im gonna leave a link to pastebin when im done, i left some controversial things to discuss right after "!!!" just like comms.

[2017-08-14 05:51] JackStanley commented on #8
Here we go!
https://pastebin.com/bBRtkveg

[2017-08-14 10:05] mastercoms commented on #8
Thank you for this work. However, the problem. I have with changing some of the default values is that it kind of makes the maxframes config useless, no?

[2017-08-14 10:11] JackStanley commented on #8
Well, I suppose I just recommended updating some values to make the config more perfomance based,. Still, I haven't done anything to maxframes.cfg so the values may be the same in some parts. These two configs just need to be compared

[2017-08-14 10:14] JackStanley commented on #8
Yes now I see some values are just the same except water and sound sections

[2017-08-14 10:20] JackStanley commented on #8
Just let me know If you don't want these changes and I edit maxframes.cfg as I did with the main config. It will be just easier to add these options to the bottom and comment them, pretty much just like Comanglia has their config with Disabled shadows and option to enable them just by uncommenting the same cvars with different values for eg

[2017-08-14 11:26] mastercoms commented on #8
[code]

Here's how I'm rewriting my config. Any suggestions? I feel like moving all of the comments to the side gives me less room to explain things and won't let me add customization options.

[2017-08-14 11:34] JackStanley commented on #8
[code]

This is just my vision of the situation

[2017-08-14 11:49] JackStanley commented on #8
Hre's the solution if you experiencing room problems:

[code]

[2017-08-14 13:53] mastercoms commented on #8
Why shouldn't the same CVars be together? How did you choose to group them like that?

[2017-08-14 14:28] JackStanley commented on #8
Im sorry if this confusing you. Grouping up things like this just gives a cleaner look. Every commented command in the section clearly visible and can be easily fund and uncommented.

[code]
This is just makes the config user friendly, and if you run it w/o editing, it would be okay to use.
Like I have to change some cvars every time the config being updated because some cvars "are not for every u

[2017-08-14 15:17] fagoatse commented on #7
I think comanglia's structure is very good. Everything is separated from each other. If you don't want to go that far please just group all cvars that are a matter of preference such as sens, viewmodel fov, etc and separate them from the others.

[2017-08-14 15:19] fagoatse commented on #8
Oh, I just replied to the other issues which is about the same topic but yeah I agree with @JackStanley

[2017-08-14 15:40] mastercoms commented on #8
I wasn't asking about grouping according to type, but why not have different options for the CVars grouped by CVar?

For example:

[code]

As opposed to:
[code]

If you want an easier time setting up the config, I think the better solution is presets (fewcores.cfg, maxframes.cfg, slowcpu.cfg, etc). That way you don't have to uncomment settings you would uncomment anyway.

[2017-08-14 15:51] JackStanley commented on #8
Oh wait I remember your config had ~20 .cfg files, it's no way D: Just do as you like, or start staw poll in tf.tv thread :)

[2017-08-14 18:49] mastercoms commented on #8
Well, this approach would be different to that. It would basically be a few overrides for a certain user.

In the old system, it was just every category had its own cfg, but in this new system, it will just be for quickly switching settings that you would change anyway if you needed it.

[2017-08-14 20:09] JackStanley commented on #8
So are the comments right after cvars will be implemented? W/o any categorizing

[2017-08-14 20:11] mastercoms commented on #8
Working on it: https://gist.github.com/mastercoms/44be52f6c070de1a7c2e8a0430e0b257

[2017-08-15 07:28] mastercoms commented on #7
I've been investigating further and I have come to the conclusion that the multicore options will benefit even 2 core CPUs. But I'd like someone to verify this.

[2017-08-15 09:04] JackStanley commented on #7
Are they stable for 2 core cpus?

[2017-08-15 11:19] mastercoms commented on #7
Here are the ones I feel are beneficial (and stable) to use on 2 core CPUs:

cl_threaded_client_leaf_system 1
r_threaded_renderables 1
r_threaded_particles 1
mat_queue_mode 2
r_queued_post_processing 1 (if your GPU is fast enough to work with it)

Disable these on 2 core:
r_threaded_client_shadow_manager 0
r_queued_decals 0 (disabled anyway for even 4 cores due to stability issues)
r_queued_ropes

[2017-08-19 18:02] mastercoms commented on #7
See https://github.com/mastercoms/tf2cfg/tree/4.0.0

[2017-08-19 18:02] mastercoms commented on #8
See https://github.com/mastercoms/tf2cfg/tree/4.0.0

[2017-08-19 18:15] JackStanley commented on #8
Well a lot of work nicely done here!

[2017-08-24 20:19] mastercoms commented on #1
Caused by `mat_forcemanagedtextureintohardware 1`

[2017-08-24 20:19] #1 closed

[2017-08-29 07:27] JackStanley opened #10 "Set it to 1, i heard people were complaining about it :) + it only affects GPU in case of weak one"
https://github.com/mastercoms/tf2cfg/blob/b12207124e37356119846e6acba93b33ef722778/mastercoms/cfg/comp.cfg#L29

[2017-08-29 13:11] mastercoms commented on #10
This line was not intended to be in comp.cfg. Fixed.

[2017-08-29 13:11] #10 closed

[2017-09-02 22:31] #8 closed

[2017-09-02 22:31] #7 closed

[2017-09-02 22:31] #3 closed

[2017-10-28 22:09] T-oasterO-ven opened #14 "New particle effects fail"
* How you encountered the issue
After using this updated config the new jungle inferno particles started to flood my console with failed 'pre-cache' errors and failed 'creation' errors (invisible flames [including Dragon's Fury balls, Thermal Thruster effects]).  BTW i've **used both vendor/device launch option fixes** (Your fix, and another's [current one]) **both don't work with your config, but

[2017-10-29 03:30] mastercoms commented on #14
Not sure if it is a pasting error but `-force_vendor_id 0x10DE -force_device_i` is not a complete launch option, it should be `-force_vendor_id 0x10DE -force_device_id 0x1180`.

You can try commenting out `mat_dxlevel 95` in the Init section of comfig.cfg, and just use a -dxlevel option, try 90, 95 or 98.

Also try removing `-nod3d9ex`.

On a side note, remove `-noipx`. It doesn't exist in the Sou

[2017-10-29 04:34] T-oasterO-ven commented on #14
Wow, that actually worked! Followed **all** your suggestions using `-dxlevel 90`.

I kinda **want to know exactly** what fixed that because beforehand I tried the full:
`-force_vendor_id 0x10DE -force_device_id 0x1180`; but it did not work... so I asked the tf2 steam forums and one guy gave me the "unfinished cmd" so tried it (did not work) but it worked with the old cfg though.

Was it the `mat_d

[2017-10-29 06:07] mastercoms commented on #14
Alright thanks. I'm glad to hear it got fixed.

[2017-10-29 06:07] #14 closed

[2017-11-05 13:22] T-oasterO-ven opened #15 "Random fps lag spikes"
* How you encountered the issue
Recently, if even one pyro is on the server.... (I still don't know for sure if thats why) I get lag spikes from 60 to 24 fps.... It might be the extremely poor optimization on Valve's part, but i've heard Comanglia's [http://www.teamfortress.tv/25328/comanglia-s-config-fps-guide](url) config helps out with these huge lag spikes; people have said that mastercomfig d

[2017-11-05 14:59] mastercoms commented on #15
I think it is the launch options to get Pyro flames to show up.

Could you try without `-dxlevel 90 -force_vendor_id 0x10DE -force_device_id 0x1180`

also, people have reported that using window and resolution parameters reduce FPS so remove these as well `-full -w 1280 -h 720`

[2017-11-05 15:04] PoorPocketsMcNewHold commented on #15
I do have some Lags Spike issues as well, with the same situations.

* Config version
Latest
* Config preset(s)
Max quality (Using max performance didn't help at all).
* Custom values (if any)
fps_max 60 //Simply because i doesn't need more.
sv_forcepreload 1
cl_forcepreload 1
snd_async_fullyasync 1 //All three of them are supposed to fix this issue, by precaching the textures when you first load

[2017-11-05 15:19] mastercoms commented on #15
I wouldn't recommend using max quality, you can try the default config with no presets or the midquality preset. Max quality is extremely graphically and CPU intensive with lots of unoptimized values for quality's sake.

Although you may not need the frame output, lots of other operations run per frame including input and networking. In your case, there is no reason not to use `fps_max 300`, so I

[2017-11-05 19:34] agunzagun opened #16 "Facial Animations Are Choppy"
Hello,

Quick bug to report, using the latest available download for the config, facial animations have a choppy, low quality look to them - even against the max quality set.

Doing a reset and defaulting back to my previous config (comanglia's cinema.cfg) facial animations are once again smooth. Repeating the cleanup process and dropping your configs in again yields choppy facial animations.

Ste

[2017-11-05 20:44] #16 closed

[2017-11-05 20:46] mastercoms commented on #16
The `maxquality` preset should now properly smooth talking animations. It's in the latest dev version, so you'll have to download it from [here](https://github.com/mastercoms/tf2cfg/archive/d5519e989e5ac465f4cf258bb36acb5776b7d1f6.zip).

[2017-11-09 12:30] mastercoms commented on #16
Now released in [5.0.2](https://github.com/mastercoms/tf2cfg/releases/tag/5.0.2).

[2017-11-09 12:31] mastercoms commented on #15
@T-oasterO-ven @PoorPocketsMcNewHold Any updates on this?

[2017-11-10 16:54] PoorPocketsMcNewHold commented on #15
Seems to be working well for me. Issue closed for me then.

[2017-11-10 19:56] mastercoms commented on #15
Alright, closing the issue then. @T-oasterO-ven feel free to reopen if you still have issues.

[2017-11-10 19:56] #15 closed

[2017-11-11 05:34] T-oasterO-ven commented on #15
Update: Sorry I've very busy this week; I haven't been able to check up on things recently. I'll go ahead and take your advice on this and report back soon. (Tomorrow it's like 12:30 am here)

[2017-11-11 22:53] T-oasterO-ven commented on #15
Ok so it kinda worked... kinda. The random lag is gone (mostly), but now there is systematic lag. Everytime the console spams this (often)--the whole game lags to unplayable frames.

Attemped to precache unknown particle system "rockettrail_RocketJumper"!
Attemped to precache unknown particle system "furious_flyer_activated"!
Attemped to precache unknown particle system "furious_flyer_activated_bu

[2017-11-12 00:30] mastercoms commented on #15
I would verify game cache.

[2017-11-12 13:58] T-oasterO-ven commented on #15
Tried that twice; it did not work.

Did not have these issues before....

[2017-11-12 19:12] T-oasterO-ven commented on #15
@mastercoms So, if it's not the game cache, then what is it?

[2017-11-13 02:37] mastercoms commented on #15
That's really strange. I guess your only option is to reinstall and see if that fixes it.

[2017-11-13 04:20] T-oasterO-ven commented on #15
I tried that before I found out about the 'vendor/device' fix--did not work.

I'll try again...

[2017-11-18 21:36] T-oasterO-ven commented on #15
@mastercoms
Tried reinstalling twice, did not work. (Precache errors spamming every so often still, causes lag spikes)
Options?
Will the "vendor cmds" fix it? Or will that cause lag spikes like before still? (except this time on `-dxlevel 92`)

Any other help is appreciated.
Thanks.

[2017-11-18 22:45] mastercoms commented on #15
Do you have any custom particles or anything like that?

[2017-11-18 23:55] T-oasterO-ven commented on #15
@mastercoms
yes (Longer needle trails and light particle pack, Unzipped from vpk via GCFScape, and I customized it for the new update) but using it does not change anything in the console (regardless I get the errors).

[2017-11-19 00:28] mastercoms commented on #15
So even without any custom files, you still get the precache errors?

[2017-11-19 01:40] T-oasterO-ven commented on #15
@mastercoms
Yes

[2017-11-19 05:51] mastercoms commented on #15
I have no idea then. Try reporting it to Valve: https://github.com/valvesoftware/source-1-games

[2017-11-19 22:22] T-oasterO-ven commented on #15
@mastercoms
I did what you said and reported it to valve. If you still want to help, then feel free to head over.
I found out some more info from console logs, system specs, and combing through the mastercoms (in /tf/custom) folder with the fps stuff.

I uploaded your "comfig" (customized a bit) in case you want to inspect it. (I changed some things, previously forgot)

Thanks for your continued s

[2017-11-20 12:02] mastercoms commented on #15
Oh, it might be the -limitvsconst launch option.

[2017-11-20 23:52] T-oasterO-ven commented on #15
@mastercoms

Tried removing that option..... it did not work.

[2017-11-23 03:53] Augixx opened #17 "some textures look weird while using solid textures mod"
Config version: 5.1.3
Config preset: comp
DX level: 95
Launch options: -novid -nojoy -nosteamcontroller -noff -nohltv -softparticlesdefaultoff -reuse -primarysound -snoforceformat -swapcores -high -nostartupsound
Problem:
Im uing a solid textures mod and it works fine with chris cfg, but have some problems with this cfg.
Is there any way to remove these textures like chris cfg does?

with this cfg

[2017-11-23 05:42] mastercoms commented on #17
r_renderoverlayfragment 0

[2017-11-23 05:42] #17 closed

[2017-12-23 10:47] alamo2914 opened #20 "Map "pl_shoreleave" doesn't work when mat_phong is set to 0"
**As I addressed in this thread**
https://www.reddit.com/r/tf2/comments/7lemnk/remember_the_frontline_map_shoreleave_we_just/drmdyv8/

The map "pl_shoreleave_rc1" crashed the game for me. Then, a nice man told me to set mat_phong to 1, and the map worked. I won't write here information that I have already written in the thread. **I'm writing here so that you'll add "mat_phong 1" to the troubleshoo

[2017-12-25 07:53] #20 closed, assigned to nobody

[2017-12-28 17:21] Frinzie opened #22 "Weird crashes mid-game"
### 1. Problem
When I am playing a map (I've only played on official maps since installing) after some time of playing, my game just crashes ("not responding" window pops up). I don't know the reason this might be happening.
### 2. Settings
Config version: 6.1.1
Config preset: comp (no addons)
Custom changes to the config:
- mat_levelflush 1
- mat_phong 1

Launch options: -dxlevel 95 -novid -nojoy

[2017-12-28 18:08] mastercoms commented on #22
Maybe mat_levelflush 1 is the problem?

[2017-12-28 18:41] Frinzie commented on #22
I don't know why, but after changing the launch settings to "-novid -nojoy -nosteamcontroller -nohltv -softparticlesdefaultoff -reuse -swapcores -w 1280 -h 720 -full" it seems to work now. Maybe DX95 was the problem

[2017-12-28 19:12] mastercoms commented on #22
Well, you are supposed to remove the `-dxlevel` launch option after the first time.

[2017-12-28 19:16] Frinzie commented on #22
oh, ok, I didn't know that. Thanks

[2017-12-28 19:19] #22 closed, assigned to nobody

[2018-01-18 10:51] ghost opened #25 "How fast in Mbps should my Internet be to handle this?"
https://github.com/mastercoms/mastercomfig/blob/a4d4ec2b7c4a767cc6b9af246b6b9aaeef3b6782/mastercomfig/cfg/comfig.cfg#L30

[2018-01-19 12:19] alamo2914 commented on #25
I'm pretty sure mastercoms wrote 100Mbps in the discord a few days ago.

[2018-01-19 17:19] mastercoms commented on #25
Yep, but more testing should be done before I put that in the config.

[2018-01-19 17:34] #25 closed, assigned to nobody

[2018-01-25 19:59] pongo1231 opened #28 "Add gl_clear convar for Windows users"
When I used Windows 10, **gl_clear 1** had a small performance increase on both dxlevel 8 and 9 (about 2-3% or so). Unfortunately I can't provide a benchmark on Windows as I'm not on Windows anymore.

What I can give instead is a Linux benchmark though, but here's where the problem persists: it decreases fps on Linux. I'm not sure if it's a OpenGL issue, as I still have gotten the same fps boost o

[2018-01-26 01:22] mastercoms commented on #28
Hi, thanks for looking into this. However, I don't think this will be included in the config.

This convar is very OS and hardware dependent and it's not very clear what the general benefits are, if any.

[2018-01-26 12:59] pongo1231 commented on #28
Perhaps it could be added under Experimental Startup Options (+gl_clear 1) in the autoexec.cfg. It already contains some OS and spec-dependent options, so IMO it would fit there.

Like I said, I had a slight but notable fps increase when using it on Windows and there were no side effects or similar when using it.

Or maybe someone on Windows and with a Intel HD GPU could do some benchmarking to co

[2018-01-26 13:06] pongo1231 commented on #28
Perhaps someone on Windows and with a Intel HD GPU could do some benchmarking to confirm if it actually has a fps increase on specific GPUs.

Otherwise I could do a clean Windows install later on to confirm if it has any positive effects whatsoever or if it was just some weird quirk that made it appear like gl_clear 1 actually increase fps.

[2018-01-28 11:03] ghost opened #29 "Add sv_cheats 1 to the top of the main config"
As far as I know some commands can't be executed w/o having a sv_cheats set to 1. To be sure that everything is executed right let's add it at the top of the config.

[2018-01-28 16:18] mastercoms commented on #28
Ok, I will investigate this further and you can too if it isn't a problem for you to do so.

[2018-01-28 16:28] #29 closed, assigned to nobody

[2018-02-06 09:34] ghost opened #30 "Add tf_colorblindassist 1 to comp.cfg"
It is highly recommended to set tf_colorblindassist to 1 in competitive game because it draws a jarate icon above the head which gives you an adavantage

[2018-02-06 20:52] #30 closed, assigned to nobody

[2018-02-07 21:50] ghost opened #31 "Some new modules"
[code]

[2018-02-10 03:08] deluxghost opened #32 "also exec a custom listenserver.cfg?"
add such as `exec custom_listenserver` to the end of listenserver.cfg
someone (me) may have his own custom cvars for listenserver

[2018-02-11 22:26] mastercoms commented on #32
Fixed in https://github.com/mastercoms/mastercomfig/commit/232a65e5f187b5ccb538b72bbc5e28b3f802133b.

[2018-02-11 22:26] #32 closed, assigned to nobody

[2018-02-11 22:27] mastercoms commented on #31
I'll investigate on how these settings can be grouped. Thanks for the initial implementation.

[2018-03-02 06:09] mastercoms commented on #28
After more investigation, I don't think gl_clear improves FPS.

[2018-03-02 06:09] #28 closed, assigned to nobody

[2018-03-02 06:14] mastercoms commented on #31
These changes have been included in the upcoming beta release, thanks!

[2018-03-02 06:14] #31 closed, assigned to nobody

[2018-03-09 02:49] Minib31 opened #34 "mat_phong 0 not working"
i have the latest version of the config and when i put mat_phong 0 in the autoexec file it wont work it worked before i got the config but it wont work now please help

*EDIT* my full autoexec file is:

mat_phong 0
hud_combattext_batching 1
hud_combattext_batching_window 2.0
cl_updaterate 66
cl_cmdrate 66
cl_interp .033

[2018-03-09 02:57] mastercoms commented on #34
As written in the [installation instructions](https://github.com/mastercoms/mastercomfig#5-customcfg-optional), your `autoexec.cfg` will not be used. Instead, use a `custom.cfg` file.

[2018-03-09 03:05] Minib31 commented on #34
it still wont work

[2018-03-09 03:12] Minib31 commented on #34
if you need reference here's my full autoexec file
mat_phong 0
hud_combattext_batching 1
hud_combattext_batching_window 2.0
cl_updaterate 66
cl_cmdrate 66
cl_interp .033

[2018-03-09 03:27] angrynerd commented on #34
Rename autoexec.cfg to custom.cfg which should be in /tf/cfg.

[2018-03-09 03:32] Minib31 commented on #34
already tried that but it still wont work

[2018-03-09 06:13] mastercoms commented on #34
Can you share a picture of your `tf/cfg/` folder?

[2018-03-09 14:02] Minib31 commented on #34
file:///C:/Users/Brandon/Pictures/Screenshots/Screenshot%20(1).png my .cfg folder

[2018-03-09 14:03] mastercoms commented on #34
You have to upload the picture to a service like imgur and then link it here.

[2018-03-09 22:58] Minib31 commented on #34
https://imgur.com/a/AMvcZ like this

[2018-03-09 23:45] mastercoms commented on #34
Ok can you also share a screenshot of your custom folder?

Also what exact version of the config do you have? 6.4.2 or the latest beta, 6.5.0-b7?

[2018-03-09 23:49] Minib31 commented on #34
https://imgur.com/a/dAjLs I have 6.5.0-b7

[2018-03-09 23:55] mastercoms commented on #34
Ah, you are using the ZIP installation method so you will have to go into the `mastercomfig_exec/cfg` folder and then open up `autoexec.cfg`. Then, go to the bottom and remove the `//` in front of `exec custom`.

[2018-03-10 00:09] Minib31 commented on #34
Thanks for all the help it works now

[2018-03-10 00:13] Minib31 commented on #34
*Closes #34*

[2018-03-10 00:14] Minib31 commented on #34
fix #34

[2018-03-10 00:24] #34 closed, assigned to nobody

[2018-03-19 15:04] rtsui-harmonicinc opened #36 "Conflicts with bot mod"
By default, the listenserver2.cfg and listenserver.cfg from TF2 Bot Overhaul https://gamebanana.com/gamefiles/4134 will no longer be exec since the addition of listenserver.cfg override here.

Keep the good work. :medal_military:

[2018-03-19 15:18] #36 closed, assigned to nobody

[2018-03-20 04:34] shapetf2 opened #37 "tf2 crashes when I rename my class files to have a "_c""
## Reporting an issue (related to class configs)
The issue which I am currently facing is that when I rename my class files (e.g. scout.cfg) to (scout_c.cfg), tf2 immediately crashes and when I attempt to execute the class file (e.g. exec scout) in console, the commands are unknown and don't work.

The version of comfig I am using is 6.5.0. The preset I am using is max performance and I am not usi

[2018-03-20 04:44] mastercoms commented on #37
Remove exec autoexec from your class config.

[2018-03-20 06:10] mastercoms commented on #37
Also, I wouldn't recommend removing double slashes, instead, paste the options you want into a custom.cfg file.

[2018-03-20 19:34] shapetf2 commented on #37
Thanks for the reply! I'll try what you suggested and see if it gets fixed.

[2018-03-20 21:05] shapetf2 commented on #37
It didn't work, my game still crashes when I exec a class file with a "_c" in the file name (e.g. scout_c.cfg). When I execute the file in the console I type "exec scout_c" and my game starts to hang a bit before it closes immediately. Also I made a custom.cfg file and pasted the options I wanted inside the file.

[2018-03-20 21:11] shapetf2 commented on #37
Alright I fixed it but am not too sure how. The fix might have happened when I deleted the alias commands that came with the comfig file but idk :/

I also made a custom.cfg and followed some of what you said (I didn't have the command "exec autoexec" in my class files anyways). Thanks for helping me! :>

[2018-03-20 21:11] #37 closed, assigned to nobody

[2018-03-20 21:28] mastercoms commented on #37
Hm, could you please share your class configs?

[2018-03-20 21:32] shapetf2 commented on #37
I also think my cfg files work now because I added these commands to my class cfg files even though they weren't renamed to have a _c. Evidence of this is because when I switch to a class (e.g. sniper) my game crashes without these commands.

**these commands**
mem_compact // Occassionally organize memory in-game

exec game_overrides // Override values set every game

exec demoman_c (I used the re

[2018-03-20 21:38] shapetf2 commented on #37
[heavyweaponscfg.txt](https://github.com/mastercoms/mastercomfig/files/1831300/heavyweaponscfg.txt)

^I would have uploaded cfg file but the file type is not supported.

[2018-04-07 06:27] SeasonalFerret opened #38 "Possible competitive lag fix launch option"
`-force_vendor_id 0x10DE -force_device_id 0x1180`

https://www.reddit.com/r/tf2/comments/52bgsm/psa_i_found_a_potential_fix_for_a_common

Seems to also [increase frame rate in competitive](https://www.reddit.com/r/tf2/comments/8ac0h7/valve_matchmaking_competitive_queuing_seems_fixed/dwxlmes/).

Could be put in [Experimental Launch Options](https://github.com/mastercoms/mastercomfig/wiki/Launch-Opt

[2018-04-07 06:35] mastercoms commented on #38
This is wrong because it's forcing a device for dxsupport. FPS increases from this specific ID are only coincidental and will ruin FPS on other systems.

[2018-04-07 06:35] #38 closed, assigned to nobody

[2018-04-07 06:39] SeasonalFerret commented on #38
In that case, is it not possible to add this into Niche Launch Options, with a disclaimer that says "FPS increase or decrease depends on system", just for awareness? I could've used this launch option months ago.

[2018-04-07 06:40] mastercoms commented on #38
No, I will not be adding this specific ID to any launch options section. The ID is at best a random one that works for a few people with similar cards, but it's much better to determine which IDs work best for each category of newer cards.

[2018-04-07 06:41] SeasonalFerret commented on #38
In that case, could you remove some of the other Niche launch options? Some of them ruin my FPS on a few systems.

[2018-04-07 06:43] mastercoms commented on #38
No, because those don't have hundreds of variations. They are single launch options with zero parameters. It doesn't seem beneficial to recommend something so obviously system dependent that it literally specifies a system configuration.

[2018-04-07 06:52] sir-bubbles commented on #38
But would this increase FPS if you put in your card's specific IDs?

[2018-04-07 07:07] mastercoms commented on #38
Yes, or we could modify dxsupport registrations to add more cards, which I believe would be an even better solution.

[2018-04-08 20:06] ghost opened #40 "Blocky textures and lightning addon?"
I just came up with an idea of adding "Blocky graphics" addon which apparently makes all textures and lightning blocky. This is super cool to use with low textures and extremely recommended to use with [LOD Tweak](http://etf2l.org/forum/customise/topic-17728/).

[code]

I haven't tested that alias honestly, but as far as I know you need to execute it exactly in that order to work. I actually don't

[2018-04-09 00:43] shapetf2 commented on #40
minecraft textures are cool

[2018-04-09 02:29] mastercoms commented on #40
I don't think this fits as an addon, as it is part of a quality level and is already included in the lighting and texture modules.

[2018-04-09 02:29] #40 closed, assigned to nobody

[2018-04-12 05:07] rtsui-harmonicinc opened #42 "Ragdolls linger"
Hey dev, I am using compquality preset and I find a problem using it since the update last week(should be 6.5.4.
## Reproducing the issue
1. Kill a player
2. The player sometimes remains in the air/ one the ground where he is killed, note that ragdoll is disabled by default in this preset.

What makes it special is, sometimes the player model is like running when this happen, usually it stays for

[2018-04-12 05:09] mastercoms commented on #42
What mastercomfig version are you on now?

[2018-04-12 05:11] ghost commented on #42
The lastest one

On Thu, Apr 12, 2018, 8:09 AM mastercoms <notifications@github.com> wrote:

[2018-04-12 05:14] mastercoms commented on #42
Could you say the version number? It's easier for tracking purposes.

[2018-04-12 05:15] rtsui-harmonicinc commented on #42
ok, let me find it, and i am making a clip of this

[2018-04-12 05:16] mastercoms commented on #42
You don't need to make a clip, I know what the issue looks like already. But thank you for the offer.

[2018-04-12 05:17] ghost commented on #42
6.5.8

On Thu, Apr 12, 2018, 8:15 AM ICHx <notifications@github.com> wrote:

[2018-04-12 05:19] mastercoms commented on #42
Alright, thanks. This will be fixed in the next bug fix release.

[2018-04-14 11:59] Jom97 opened #43 "Wrong links in the readme.md"
In the readme.md file under the sub heading 'Updating' the links for discord and tftv are interchanged.

[2018-04-14 16:34] #43 closed, assigned to nobody

[2018-04-16 18:17] mastercoms opened #44 "Migrate dev scripts to Python"
Currently, the dev scripts are written in bash. Python would be more maintainable and easier to extend.

[2018-04-16 18:18] mastercoms opened #45 "Fix stuttering issues on round start"
Some systems (likely HDDs) experience stuttering. There might be a requirement for an HDD addon to reduce disk load.

[2018-04-16 18:23] mastercoms opened #46 "Investigate improvements to prediction and networking updates"
The current networking settings can use some updating after testing theoretically better settings.

- [ ] Re-investigate prediction optimization mode 2 (`cl_predoptimize 2`)
- [ ] Investigate `cl_updaterate`s higher/lower than `cl_cmdrate`.
  - [ ] `cl_cmdrate 66; cl_updaterate 65`
  - [ ] `cl_cmdrate 65; cl_updaterate 66`
  - [ ] `cl_cmdrate 66; cl_updaterate 46`
  - [ ] `cl_cmdrate 46; cl_update

[2018-04-16 18:25] mastercoms opened #47 "Add version selector to download page"
Add a version selector dropdown to the download page to show previous releases, with an additional click to show beta releases.

[2018-04-16 18:26] mastercoms opened #48 "Automatically get the previous release for deployment"
When deploying release data, the previously latest release should be gotten through the GitHub API in order to fill out the necessary information for the code changes link.

[2018-04-16 18:29] mastercoms opened #49 "Improve performance in crowded areas"
Some users report that performance is greatly reduced in crowded areas. Optimization settings should have a cost-benefit analysis done on them especially for occlusion and other CPU operations that save rendering time. And if the analysis shows it would be useful, add varying settings for default and badgpu.

[2018-04-17 12:45] #42 closed, assigned to mastercoms

[2018-04-17 12:45] #49 closed, assigned to mastercoms

[2018-04-17 12:45] #45 closed, assigned to mastercoms

[2018-04-17 12:45] #46 closed, assigned to mastercoms

[2018-04-17 16:24] #48 closed, assigned to mastercoms

[2018-04-29 11:49] ghost opened #50 "[Need to investigate] fps_max and loading times"
https://i.imgur.com/zJHuCpQ.png

I've recently watched a video about things affecting loading times in CS:GO.

fps_max 999 increased map loading times a lot in this game, while fps_max 59 decreased it 3 times. So does it have the same impact in TF2? Sorry, I wish I could find it out by myself.

[2018-04-29 15:35] mastercoms commented on #50
Yes.

[2018-04-29 15:35] #50 closed, assigned to nobody

[2018-05-05 18:04] ghost opened #52 "Problem With very_low_preset.vpk"
When I use it I can't see the chat, other people's health, other people's names and the killfeed. I reinstalled TF2, but the bug keeps coming up.

[2018-05-05 18:09] mastercoms commented on #52
The very low preset intentionally does this to improve performance. If you don't want this, use the low preset.

[2018-05-05 18:09] #52 closed, assigned to nobody

[2018-05-18 13:04] flip111 opened #53 "How to put dispenser as engineer"
I installed this master config. Now when i press 2 to place dispenser team chat opens. If i change keys in the menu they are back to previous when i restart my game. How can i play engineer with this config ?

[2018-05-18 19:22] mastercoms commented on #53
mastercomfig does not modify binds. Please ensure your own binds in class configs and your custom config are valid.

[2018-05-18 19:22] #53 closed, assigned to nobody

[2018-05-20 01:27] irefl opened #54 "macOS crash on server join"
3. Include the following information in your report:
    * How you encountered the issue
Playing on casual or community (mge), about once every two or three times i'd join a server or the map would switch my game would hang and crash. Removing the custom vpks and switching back to my old config (b4nny) solved the problem.

    * Config version (don't say latest, say the actual version, found in th

[2018-05-20 01:54] mastercoms commented on #54
Would you happen to know your config version?

[2018-05-20 18:43] irefl commented on #54
sorry forgot to include that,
comp (original): 6.5.8
medium (troubleshoot): 6.7.0

[2018-05-30 12:14] ThatFunkiChick opened #55 "Bug/glitch"
Well, I installed it and was not satisfied I went back to my original configuration but when I went back to my old config, the floating health tf2 was not working and this is a problem because I play Medic and I need to see the life of my partners team
And I also can not see who is healing me and the life of the healer
And this is super annoying

I'm Brazilian, I used the google translator. Sorry

[2018-05-30 13:24] mastercoms commented on #55
I would recommend [cleaning your config](https://github.com/mastercoms/mastercomfig/blob/release/docs/README.md#clean-up) to prevent any conflicts.

But, for this specific issue, this was set by the very low preset. You can revert it with the following:

[code]

And if you don't mind, what did you not like about mastercomfig? I would love to improve it.

[2018-05-30 18:07] ThatFunkiChick commented on #55
Thank you! I'm sorry it looked like I did not like the config and I was a bit desperate! The config is perfect greatly increased my fps but I liked, visually, my old config :+1:

[2018-05-31 03:35] #55 closed, assigned to nobody

[2018-06-11 00:01] SeasonalFerret opened #56 "Multiple "unknown command"'s on startup."
Encountered in console upon startup of the game. Error indicates that commands were invoked during game launch that do not exist. Console log is provided below, and I have linked to each instance of the unknown command in this git.

Unknown command "gl_pow2_tempmem" > [1](https://github.com/mastercoms/mastercomfig/blob/70673136e26b7782c8951a992b0c0f81a91af872/config/mastercomfig/cfg/comfig.cfg#L11

[2018-06-11 00:03] mastercoms commented on #56
These messages are harmless, the cvars are for OpenGL users.

[2018-06-11 00:03] #56 closed, assigned to nobody

[2018-06-11 00:03] SeasonalFerret commented on #56
Have you ever wrote something and re-read it just to make sure everything is correct, then the moment you post it you realize you've made a mistake?

Just realized these are commands for linux users.

[2018-06-17 22:49] mastercoms commented on #54
Could you try the 7.0.0a2 pre-release?

https://github.com/mastercoms/mastercomfig/releases/tag/v7.0.0a2

[2018-06-17 22:50] mastercoms commented on #47
Invalid due to app.

[2018-06-17 22:50] #47 closed, assigned to mastercoms

[2018-06-17 22:50] mastercoms commented on #44
Fixed in https://github.com/mastercoms/mastercomfig/commit/f28e386f380571e5fb951df8dd9d114475d5fe92.

[2018-06-17 22:50] #44 closed, assigned to mastercoms

[2018-06-18 00:04] irefl commented on #54
Okay, I'll get back to you with that

[2018-06-25 10:24] Determinationvoid opened #57 "Viewmodel is invisable"
my viewmodel is not showing up
everytime i launch the game and started playing
my weapon on my screen does not show up
no one knows this problem i check your
troble shoting no fixes there is working
and the only vpk i had was the very low preset
and thats it so i tried to install the madiem preset and the high
and ultra preset the madiem one did not work the high preset
also did not work there i t

[2018-06-25 11:19] mastercoms commented on #57
Add `r_drawviewmodel 1` to your `custom.cfg`.

[2018-06-26 08:47] Determinationvoid commented on #57
it does not work

[2018-06-26 08:50] Determinationvoid commented on #57
wait wait it works

[2018-06-26 09:09] Determinationvoid commented on #57
nope it does not work it work for the frist start but then stoped again

[2018-06-26 09:16] Aerden commented on #57
Are you sure that nothing else is setting r_drawviewmodel to 0? Did you even put it in your custom.cfg

[2018-06-26 10:34] Determinationvoid commented on #57
i did

[2018-06-26 10:36] Determinationvoid commented on #57
why the fuck would i put a setting to always make it r_drawviewmodel 0 im new plus i hate not seing my gun and i dont find it better to aim withour my viewmodel

[2018-06-26 10:38] Determinationvoid commented on #57
this is what i did to my custom.cfg

mat_phong 0
bind w +mfwd
bind s +mback
bind a +mleft
bind d +mright

alias +mfwd "-back;+forward;alias checkfwd +forward"
alias +mback "-forward;+back;alias checkback +back"
alias +mleft "-moveright;+moveleft;alias checkleft +moveleft"
alias +mright "-moveleft;+moveright;alias checkright +moveright"
alias -mfwd "-forward;checkback;alias checkfwd none"
alias -mb

[2018-06-26 11:03] Aerden commented on #57
Any mods?

[2018-06-27 04:51] Determinationvoid commented on #57
i have hypnotize hud with no smoke script inside hitsound and all the master config and nohatsmod.vpk

[2018-06-27 04:53] Determinationvoid commented on #57
and if you are going to ask me to remove them just no i tried that befor even uninstalling the game clearing my reposetory its the same even without the custom.cfg

[2018-06-29 16:28] jonnemenes opened #58 "A bunch of HUD/Visual bugs."
I don't know if I have to make an issue for each of the problems, so here it goes:
1)Weapon viewmodels do not show (even with r_drawviewmodel 1 in my custom.cfg file), unless I open the "Advanced Options" Menu while in a match, then in that case they show up for some reason.
2)Killfeed, chat and pop-up notifications (e.g. Strange Weapons Level-Up or Trade Requests) do not show up, nor do they play

[2018-06-30 05:56] mastercoms commented on #58
1) Not sure why this one happens. I'm looking into it. Duplicate of #57.
2) This is a feature of the very low preset.
You can change the HUD modules:
https://github.com/mastercoms/mastercomfig/wiki/Modules#hud-modules

As for notifications:
[code]
3) This is a TF2 bug when running at a lower 3D resolution. Set `mat_viewportscale 1`.
4) Not sure about this one. Probably a TF2 bug.
5) This is intent

[2018-06-30 05:57] #58 closed, assigned to nobody

[2018-06-30 05:57] mastercoms commented on #57
I'm looking into what causes this, and will fix it in a later 7.0.0 release.

[2018-06-30 05:58] mastercoms commented on #54
@ireperson Any updates?

[2018-06-30 08:05] mastercoms commented on #57
I forgot that very low also sets the FOV to 0.1 to hide any tracers.

[code]

[2018-06-30 08:08] #57 closed, assigned to nobody

[2018-06-30 17:28] jonnemenes commented on #58
well thanks a lot sir, should I put these commands in my custom.cfg or type them in console?

[2018-06-30 17:35] mastercoms commented on #58
Custom.cfg.

[2018-06-30 18:39] jonnemenes commented on #58
ok, thanks for all the help, godspeed you!!

[2018-07-02 05:11] irefl commented on #54
lol sorry, never finished responding to this, have had this open in a tab and not send for a couple of days.
using the vpk in the a2 release seems to have fixed it!

[2018-07-02 05:11] #54 closed, assigned to nobody

[2018-07-02 21:24] T-oasterO-ven opened #59 "[Linux beta-7.0.0 a10] Now requires root?"
Version: [Beta-Release] 7.0.0 a10

Updated from [Beta-Release] 7.0.0 a7

Now the program requires root to run:
[code]

Is this an intended Linux change?
Also the config files are now locked in the tf2 folder and I run tf2 as a non-root user.

[2018-07-02 21:25] mastercoms commented on #59
The app doesn't require root to run, the file permissions are just wrong in the package. Just `sudo chmod -R 755 /opt/mastercomfig /usr/share/applications/mastercomfig-app.desktop` to fix it.

[2018-07-02 21:38] T-oasterO-ven commented on #59
Yep, that worked! Thanks.

[2018-07-02 21:38] #59 closed, assigned to nobody

[2018-07-04 12:24] ficool2 opened #60 "Support for other Source games"
This doesn't really require an explanation, just what there be any possibility of this config being possible to apply (automatically) to other Source games such as Half Life 2 easily? I manually converted the config to be compatible with HL2 and my FPS/stability improved massively, just like in TF2.

[2018-07-04 12:41] tom288 commented on #60
I am also interested in using mastercomfig for other source games and I would imagine it could be particularly popular for csgo and it's competitive scene. I expect removing any/all commands exclusive to TF2 would result in similar performance and stability improvements to what we are seeing with TF2 already, but I am currently unable to test that. If all the commands were found in all source game

[2018-07-04 12:47] ficool2 commented on #60
Unfortunately it probably won't be useful for CSGO due to how limited its graphical commands are compared to other Source games, most of the graphical commands are either marked as cheats or don't function anymore. Not to mention the engine is much more modern and optimized, so its stability is already acceptable.

[2018-07-05 02:18] mastercoms commented on #60
That's definitely something that will be possible in the future as mastercomfig 7 evolves. Its backend is highly flexible and allows for lots of cool stuff to happen eventually.

[2018-07-06 01:55] T-oasterO-ven opened #61 "Linux package repositories"
Is auto-update a thing for beta package updates or for full releases? (or is it a option i'm not aware of)

Also, I've been just overwriting between beta builds all this time, is that the best way to update right now on Linux?

[2018-07-06 01:59] mastercoms commented on #61
Autoupdating doesn't work on Linux, since the app is handled through your package manager. There will be repositories soon for them.

[2018-07-06 02:08] T-oasterO-ven commented on #15
@mastercoms
I did a lot of research and found that for **integrated Intel GPUs (Laptops)** use this specific id pair; for some reason using this over the other id pair **fixed all the lag**.

-force_vendor_id 0x8086 -force_device_id 0x22b1

Intel's vendor ID is: 0x8086
Using the ``hardinfo`` Linux package I identified the VGA device ID: 0x22b1
Then I plugged them in and the lag spikes don't happen

[2018-07-06 02:11] T-oasterO-ven commented on #61
Ok, update through installing again for now, got it.

[2018-07-07 23:29] T-oasterO-ven commented on #60
Yeah, gmod, HL2, etc. would be cool!
+1

[2018-08-07 17:12] ChaoticSlacker opened #62 "Crashes "out of memory.." and "failed to lock vertex buffer..""
## Reporting an issue

Hello,

I have to first say that I'm new to gaming on Linux so please bear with me. Also, the config makes playing the game on this specific machine a great experience if it weren't for these occasional crashes.
The vanilla Steam settings were very stable and I never had a crash once (18hr of play) but the game was essentially unplayable in comparison to how it performed w/

[2018-08-08 20:21] mastercoms commented on #62
Are you not using the badgpu addon for your Intel HD Graphics card?

[2018-08-17 19:27] pasimko commented on #62
I had this problem as well while using an integrated GPU. You should use the badgpu addon.
Integrated GPUs will often crash when using higher than low settings.

If the badgpu addon doesn't fix it, try deleting glshaders.cfg

[2018-10-15 15:53] Sloan2345 opened #63 "How to change some commands"
I can't change commands, if i don't like a command, I can't change it. How can i?

[2018-10-15 16:15] mastercoms commented on #63
Read the README section about custom configs.

[2018-10-20 09:15] #63 closed, assigned to nobody

[2018-11-01 16:12] DemoMain234 opened #64 "Unbinding problem"
So i have problem that whenever i boot up tf2 all my movement keys and my call for medic keys unbind.Its really frustrating bc it happens everytime and it stops when i delete masterscomfig.Its really a shame bc its very good config .

    * Config version-Medium low (problem happens on every one)
    * Config preset and addon(s)- Chris config
    * Custom values (if any)-none
    * DX level-95 (it

[2018-11-02 01:55] mastercoms commented on #64
?

Also, do you use custom.cfg?

[2018-11-02 19:47] DemoMain234 commented on #64
Nvm i fixed it.There were some shenanigans with my config file so i reinstalled it and it works fine

[2018-11-05 05:10] #64 closed, assigned to nobody

[2018-12-30 23:13] irefl opened #66 "Engine issue "Out of memory/address space" on macOS"
* Config version (don't say latest, say the actual version, found in the
      startup console output)
6.10.0
    * Config preset and addon(s)
Medium Low
   * Custom values (if any)
N/A
   * DX level
92
   * Launch options
-novid -nojoy -nosteamcontroller -softparticlesdefaultoff -reuse -dxlevel 92
   * Operating system (OS)
macOS Mojave 10.14.1
   * Graphics card (GPU)
intel hd 5000
   * Processo

[2019-01-04 18:13] Leo40Git opened #67 "Linux app nonfunctional"
So the Linux version of the app straight up doesn't work. Trying to run it (with or without sudo) results in `Segmentation fault`. It also made a core dump the first time I tried to run it, but I don't know how to retrieved it. I've tried both the Ubuntu/Debian package and the generic Linux tar.xz archive.

[2019-01-04 18:14] Leo40Git opened #68 "Enabling community configs doesn't do anything"
See title. The configs don't seem to be downloaded, unpacking the mastercomfig.vpk file reveals no extra configs.

[2019-01-13 08:59] DeBozMann opened #69 "Issues with weapon binds"
I use the crosshair switcher from cfg.tf. When I use this with it, it rebinds 1, 2 and 3 to w1, w2 and w3 respectively. There is nothing I can do to fix this so for now I just don't use mastercomfigs. If there is a fix, please let me know.

[2019-01-13 13:44] JarateKing commented on #69
First add `exec binds; exec settings; exec network` to `cfg/custom.cfg`. This is because with mastercomfig, your autoexec is overridden but it supports custom.cfg instead. The only other things that should be in your autoexec from cfg.tf are `exec gfx; exec custom` but you shouldn't put those in custom.

Then rename `demoman.cfg`, `engineer.cfg`, etc. to `demoman_c.cfg`, `engineer_c.cfg`, etc. Thi

[2019-01-13 18:57] DeBozMann commented on #69
Is the process the same if I apply mastercomfigs using the mastercomfigs app? Sorry if this is an obvious question, its just that with the app you put a .vpk file in your tf/custom, but if its done through cfg.tf it just makes a gfx.cfg file in tf/cfg.

[2019-01-13 19:12] JarateKing commented on #69
Yep. The .vpk file contains the same overrides for autoexec / class cfg's / etc. regardless of what's in the cfg folder. The mastercomfig autoexec (that exists in the vpk) will run custom.cfg so you put your changes in there, the class cfg's will run their _c versions, etc.

[2019-01-15 16:59] ZIIkII opened #70 "I can't hear footsteps anymore."
Hello, I recently did some changes in my config (Mastercomfig_7) My preset was on very low, the only things that I've changed is turning on outlines in "HUD" and Footsteps in "Sound".

I went to check "community" afterwards to enable transparent viewmodels, but sadly when I entered the game I could no longer hear any kind of footstep sound.

It's a really irritating me, it's a huge annoyance and I

[2019-01-15 17:12] JarateKing commented on #70
The "footsteps" option should be what removes them.

It'd be the "mastercomfig-addon-no-footsteps.vpk" in your custom folder that you should delete if you want them back.

[2019-01-15 18:29] ZIIkII commented on #70
Thanks that helped alot !

[2019-01-17 08:53] #70 closed, assigned to nobody

[2019-01-17 08:53] #69 closed, assigned to nobody

[2019-01-24 16:29] minimaster36 opened #71 "Modules not working"
Created a few aliases in modules.cfg tf/cfg and none of them are working:
'preset_ultra
alias run_n_packet_buffer n_packet_buffer_very_high
alias run_n_rate "rate NaN;net_splitpacket_maxrate NaN;net_maxcleartime NaN"
alias ragdolls ragdolls_medium
alias gibs gibs_medium
alias water water_high'
the 3 bottom aliases dont seem to work for me, I'm not sure what I've done wrong, if i have at all.
maste

[2019-02-10 03:06] mastercoms opened #72 "Port mastercomfig 7 to Lorca"
https://github.com/zserge/lorca

[2019-02-19 01:27] NekoAlosama opened #73 ""Run an internet speed test" tests with very distant servers"
Using mastercomfig app 7.0.0-a.15 and running the speed test yields inaccurate results.
For those that don't want to read the picture:

Regular speeds using speedtest.net (Miami, Florida server, ~249km away):  ~23 mbps down, ~1.9 mbps up
Speeds according to mastercomfig app (Tromsø, Norway server, NaN km away (lol)): <1 mbps down, <0.5 mbps up

I don't know if this is just an individual issue or j

[2019-02-19 05:47] seagullmania commented on #73
Can confirmed this happens to me as well.

[2019-02-19 21:44] NekoAlosama commented on #73
Wouldn't it be a better idea just to be able to manually input our internet speeds?

[2019-02-23 00:10] NekoAlosama commented on #73
And on that note, can someone tell me what are the exact equations for rate, net_maxcleartime, and net_splitpacket_maxrate?

[2019-02-24 17:58] PoorPocketsMcNewHold commented on #73
I can confirm the same issue on my end, despite being in a totally other location in Europe. Strangely, With the exact same server.

[2019-02-24 23:55] Spyro201 commented on #73
I'd also like to confirm this problem, it keeps connecting me to Norway as well despite not living anywhere near there. Due to this problem it causes the user to get a much lower upload and download speed. Well, unless you live in Norway I suppose.

[2019-02-25 00:03] NekoAlosama commented on #73
Welp I found a way to edit the settings to change the reported speeds.

In the "C:\Users\<your username>\AppData\Roaming\mastercomfig-app", there is a file titled "Settings".
Just open it with the text editor of your choice and edit the "upload-speed":xxx,"download-speed":yyy

So for me, I changed
"upload-speed":1.249,"download-speed":1.993
to
"upload-speed":2.317,"download-speed":29.958
(i used s

[2019-02-26 12:33] ghost opened #74 "lib32-gconf is missing from dependencies on arch linux"
It seems that [lib32-gconf](https://www.archlinux.org/packages/multilib/x86_64/lib32-gconf/) is missing from the dependencies on the arch linux package, which is needed in order to use the mastercomfig gui

[2019-02-26 17:51] mastercoms commented on #74
https://github.com/electron-userland/electron-builder

Check to see if this bug is on upstream.

[2019-02-26 17:51] #74 closed, assigned to nobody

[2019-03-27 06:41] David024 commented on #67
I've tested this mod on Linux Mint 19.1, It works there at least, But Doesn't work on Solus OS, other distro's I'm unsure.

[2019-04-22 10:14] PoorPocketsMcNewHold opened #75 "Little issue with the preset selection"
Well, no real other details to share here. Downloaded the latest package, running it on Elementary OS (Debian based)
![Capture d'écran du 2019-04-22 12 12 18](https://user-images.githubusercontent.com/13170204/56496025-5e126e80-64e7-11e9-9f32-b2eb2d1de8ff.png)

[2019-04-23 02:01] mastercoms commented on #75
This is an issue with it fetching available presets more than once sometimes, so it repeats entries.

[2019-05-02 19:33] Spyindabox opened #76 "A few ideas for low end mods/additions"
I managed to get nvidia inspector to renable the old lod bias setting by following a guide like this one here for lower end textures https://www.teamfortress.tv/35876/get-quake-like-textures-high-lod-bias-again, not sure how you would do this for invidia or intel though . I also managed to get the low end oldschoolpack lod models to load by preloading and removing the materials files, (it loads wi

[2019-05-14 10:36] 1337miro commented on #67
Having the same issue on Ubuntu 19.04 Disco.

[2019-05-14 13:51] mastercoms commented on #67
The app requires certain dependencies. I forgot what they were at this point, but will try to look around.

[2019-05-14 13:52] #72 closed, assigned to mastercoms

[2019-05-14 13:53] mastercoms commented on #68
The core VPK is never modified. That would be inefficient. The configs are instead pulled from the cloud, and written to app/custom.cfg.

[2019-05-14 13:53] #68 closed, assigned to nobody

[2019-05-14 13:54] mastercoms commented on #66
This is an issue with TF2 that has been attempted to be addressed by the developers in the last few patches.

[2019-05-14 13:54] #66 closed, assigned to nobody

[2019-05-14 13:54] mastercoms commented on #62
This is a TF2 issue.

[2019-05-14 13:54] #62 closed, assigned to nobody

[2019-05-14 14:00] mastercoms commented on #71
run_n_packet_buffer and run_n_rate are not the module names for mastercomfig 6.

See here for a list of module names: https://github.com/mastercoms/mastercomfig/blob/release/config/mastercomfig/cfg/comfig/modules-run.cfg

Examples of usage:

https://github.com/mastercoms/mastercomfig/blob/release/config/mastercomfig/cfg/comfig.cfg#L49
https://github.com/mastercoms/mastercomfig/blob/release/config/

[2019-05-14 14:00] #71 closed, assigned to nobody

[2019-05-14 14:00] mastercoms commented on #76
I don't think most of these suggestions clearly improve performance.

[2019-05-14 14:00] #76 closed, assigned to nobody

[2019-05-14 14:01] mastercoms commented on #73
Yep, unfortunately we can't access the API that speedtest uses to determine the best server, so have to sample a few servers manually from a list of speedtest servers. Entering the speed manually could work, but I would rather find a better automatic service.

[2019-05-17 05:54] SupinePandora43 opened #77 "mastercomfig app "r_lod -1""
how can i set "r_lod" in app to "-1" ?!

[2019-05-17 06:21] mastercoms commented on #77
It is the model quality option in the app. You can also use custom.cfg.

[2019-05-17 06:22] mastercoms commented on #77
r_lod -1 is the default. It should be affected by the model quality setting, and be set to 0 on ultra. You can use `tf/cfg/custom.cfg` to override values.

[2019-05-17 06:22] #77 closed, assigned to nobody

[2019-05-21 16:10] rufio-tf2 opened #78 "Contribute community script"
I'd like to be able to contribute a community script to your app.

I believe your installer is a game changer for TF2 configs. I'd like to see if I can contribute a modular utility script, like key-modifiers or conditional viewmodels, and see what you think.

Eventually, I'd like to expand the GUI to provide class-specific overrides for these options.

I.e., "By default my viewmodels are on, but f

[2019-05-24 15:26] mastercoms commented on #78
The current mastercomfig 7 client is a mess coding wise. I wouldn't recommend investing time into it. I am planning a new client which will be better designed, where contributions like these can be done by anyone.

[2019-05-24 16:22] rufio-tf2 commented on #78
I think we can build a client to manage everything:
* All of your performance, graphics, and networking settings
* All of the keybindings, so that we can provide extra functionality (e.g. key-modifiers)
* Quality of life utilities
* Weapon slot-specific settings (e.g. viewmodels off for primary)
* Class-specific settings and bindings (e.g. Uber bind; viewmodels off for Soldier's primary)
* HUD stu

[2019-05-24 19:21] mastercoms commented on #78
I was thinking of making a game agnostic, unopinionated configuration app that would allow for community contributed config module generators. These would be addons to the standard key value setups that all configs have (which would also be community contributed for discovery of different values in many different games). Generators would include information about, for example, keybinding interface

[2019-05-24 20:30] rufio-tf2 commented on #78
I love the idea. Would it be used for non-Steam games also? I only really know about configuring TF2.

One of the good things that could come out of have a unified system is being able to integrate and reconcile seemingly-conflicting scripts, for example, null-movement and key-modifiers.

If I want to use null-movement, but also have <kbd>Shift</kbd>+<kbd>W</kbd> perform some other action, then I

[2019-05-24 20:34] mastercoms commented on #78
Yes, community members would be able to create key-value store definitions for configuring any game, and module generators for further customizing and modifying games past simple configuration changes, for any game. Possibly could even unify the launching process for games, across different launchers and services.

Keybindings would be a module generator, and null-movement would be a module input

[2019-05-24 21:27] rufio-tf2 commented on #78
Very cool. A user could hypothetically define a generic gaming profile to be applied across different game using their module generators. (e.g., I know someone that uses ESDF for movement in all FPS games. With the right interfaces, he could define this in your app once.)

I'm starting to understand what you're envisioning. Where can I contribute the most? If we sketch out some wire frames, I coul

[2019-05-24 22:04] mastercoms commented on #78
Sure, you can cook some stuff up for the generator, in whatever format you wish. It would help me figure out requirements for generator parsing.

However, mind that I probably can't commit to developing this until a few months from now, due to other obligations that are taking up my time. So any mockups, planning and basic groundwork would be really valuable too, and something that I can help with

[2019-06-29 01:19] DecemAdUnum opened #79 "Can't disable motion blur"
## Reporting an issue

1. Search [current issues](https://github.com/mastercoms/mastercomfig/issues) and
[troubleshooting](https://github.com/mastercoms/mastercomfig/wiki/Troubleshooting)
to see if your issue is already known.
2. Title your issue with something short but descriptive, like "Missing models
on load", not "i need help" or "hey problem found in your config please fix,
thanks!!"
3. Incl

[2019-06-29 01:41] mastercoms commented on #79
Please fill out the required information as part of the issue template.

[2019-06-29 01:41] #79 closed, assigned to nobody

[2019-06-30 01:02] NekoAlosama opened #80 "Very small question about crosshair settings in comfig.cfg"
Why are the crosshair color settings set to these seemingly random values?

`//cl_crosshair_red 156 // Crosshair red (0 to 255)`
`//cl_crosshair_green 39 // Crosshair green (0 to 255)`
`//cl_crosshair_blue 176 // Crosshair blue (0 to 255)`

[2019-06-30 01:49] mastercoms commented on #80
It's not set to that, just a commented example which makes the crosshair purple. If you're curious about those specific values, they are the ones I use.

[2019-06-30 01:54] NekoAlosama commented on #80
Ahh, understandable.
Just never saw an explanation for this anywhere, so I had to ask.

[2019-06-30 01:54] #80 closed, assigned to nobody

[2019-07-04 07:55] Xeogin commented on #73
The DSLReports Speed Test is the best I've ever used and has an API:  https://www.dslreports.com/speedtest/api-available

[2019-07-12 07:21] itVictor opened #81 "dead link in wiki"
wiki > OS Optimizations > Windows Systems > Disable Xbox Game DVR

link redirects to steam support home page

[2019-07-12 07:30] mastercoms commented on #81
Fixed, thanks!

[2019-07-12 07:30] #81 closed, assigned to nobody

[2019-07-13 01:16] HiNxG opened #82 "I Need The Killfeed Command For Very Low Preset"
I dont like my kill feed disappearing so I want it to be shown

[2019-07-13 01:19] mastercoms commented on #82
Look at the killfeed [module](https://github.com/mastercoms/mastercomfig/wiki/Modules)

[2019-07-13 01:20] HiNxG commented on #82
Its ok, I found it

[2019-07-14 16:43] #82 closed, assigned to nobody

[2019-07-17 21:07] Rattlewrench opened #83 "Lag on demo recording, class change due to hud_reloadscheme"
**Every** time I spawn as a new class or starting a demo, distinctive `hud_reloadscheme` lag happens: game freezes for about a second and all hud elements flashing at once for a few frames.

Problem appears with both v6.11.5 and 6.11.6. As far as I can tell the problem is caused by `running hud_reloadscheme on only your first spawn in game` added in v6.11.5.

v6.11.4 doesn't have this problem so I

[2019-07-17 21:16] mastercoms commented on #83
hud_reloadscheme should only be ran automatically **once** while the game executable is open. It should be running every time you spawn as a new class, or every time you start a demo. You might have exec autoexec or exec finalize somewhere in your configs?

[2019-07-17 22:01] Rattlewrench commented on #83
Yep, my bad. Had an `exec autoexec.cfg` in each of the class configs. Took quite a bit of thinking on how exactly I should fix that.

Ended up with moving everything from the `autoexec.cfg` to the `game_overrides.cfg` and leaving `autoexec.cfg` with a single string `game_overrides_c` (???).

[2019-07-17 22:02] #83 closed, assigned to nobody

[2019-07-17 22:17] mastercoms commented on #83
You shouldn't do that. Just move the things you want to run when you spawn as a new class to `game_overrides.cfg`, and put everything else in `autoexec.cfg`. Don't add `game_overrides_c` to your own configs, it's run automatically by mastercomfig.

[2019-07-18 11:15] Rattlewrench commented on #83
Okay, got it. Most part of what I was running for all classes were key bindings. So I left them in the `game_overrides.cfg` and moved the rest of commands I had to the `autoexec.cfg`; and also removed all calls to other files from the class configs.
Thanks for the help with fixing my mess!

[2019-07-18 22:29] Auscobe commented on #60
I would need something like this seriously badly for CS:GO. Even with lowest settings and a performance config I found on the interwebs I can barely reach 30FPS.

[2019-07-28 01:27] irefl opened #84 "Unable to join servers on MacOS"
## Reporting an issue

1. Search [current issues](https://github.com/mastercoms/mastercomfig/issues) and
[troubleshooting](https://github.com/mastercoms/mastercomfig/wiki/Troubleshooting)
to see if your issue is already known.
2. Title your issue with something short but descriptive, like "Missing models
on load", not "i need help" or "hey problem found in your config please fix,
thanks!!"
3. Incl

[2019-07-28 01:32] rjaxa301 commented on #84
try without the -limitvsconst launch option.
do you have your launch options pasted twice?

[2019-07-28 02:00] irefl commented on #84
Double checked the launch options, and tried without limitvsconst, still same behaviour.

[2019-07-29 04:20] mastercoms commented on #84
Remove `-w 1920 h-1080` and `-dxlevel 92`.

[2019-07-29 04:22] mastercoms commented on #67
Closing because the mastercomfig 7 app is discontinued.

[2019-07-29 04:22] #67 closed, assigned to nobody

[2019-07-29 04:22] mastercoms commented on #61
Closing because the mastercomfig 7 app is discontinued.

[2019-07-29 04:22] #61 closed, assigned to nobody

[2019-07-29 04:22] mastercoms commented on #73
Closing because the mastercomfig 7 app is discontinued.

[2019-07-29 04:22] #73 closed, assigned to nobody

[2019-07-29 04:22] mastercoms commented on #75
Closing because the mastercomfig 7 app is discontinued.

[2019-07-29 04:22] #75 closed, assigned to nobody

[2019-07-29 05:05] irefl commented on #84
Removed both, still crashing, managed to get a bit further when i tried -dxlevel 90 but then crashed on with an OS out of memory error

[2019-07-29 05:06] mastercoms commented on #84
Could you try the low mem addon? And remove the slow IO addon? Just for testing

[2019-07-29 05:06] irefl commented on #84
Don't have any other addons in rn, will try with low mem

[2019-07-29 05:11] irefl commented on #84
crashed on class select

[2019-07-29 05:18] irefl commented on #84
same result with the other addons back (-slowio)

[2019-07-29 05:23] irefl commented on #84
Try 6.12.1?

[2019-07-29 05:27] mastercoms commented on #84
I don't suspect it'll change much but sure!

[2019-07-29 05:37] irefl commented on #84
Got past class select and was able to play some (although it stuttered a ton) before crashing on memory address again

[2019-07-29 21:50] Tiagoquix opened #85 "Put 'm_customaccel 0' on Mouse Tweak Addons"
Just add the command **m_customaccel 0** to disable custom mouse acceleration on Mouse Tweaks addon. That's it.

[2019-07-29 22:32] mastercoms commented on #85
Would you like to submit a pull request for this edit?

[2019-07-29 23:27] Tiagoquix commented on #85
Yes. How to proceed?

[2019-07-30 05:04] mastercoms commented on #85
Go here to the mouse tweaks file: https://github.com/mastercoms/mastercomfig/blob/release/config/cfg/addons/mouse-tweaks.cfg

Click the pencil icon to edit, and make your change. Type a commit description, like "disabled custom acceleration on mouse tweaks", and then click the green button to commit. It will automatically create a fork for you. After that, it should prompt you to create a pull req

[2019-07-30 21:54] #85 closed, assigned to nobody

[2019-08-01 04:44] mastercoms commented on #84
Can you try with the low preset? And try `-dxlevel 90`, but remove it after launching one and then test it on the second launch.

[2019-08-02 00:38] irefl commented on #84
Crashing/stuttering seems to be resolved with that, thanks for all your work!

[2019-08-02 00:38] #84 closed, assigned to nobody

[2019-08-11 03:26] Tiagoquix commented on #60
Counter-Strike: Global Offensive with mastercomfig? Oh, this is big. And also Garry's Mod! Play on DarkRP servers with beautiful graphics and enhanced experience! No FPS drops! What a beautiful world, haha.

[2019-08-31 07:27] SupinePandora43 opened #103 "clean Matercomfig without presets"

[2019-08-31 07:30] SupinePandora43 commented on #60
CS:GO don't use source 1, it uses something between source 1, and source 2. but all* source 1 commands like mat_picmip/specular not working!

[2019-08-31 08:36] Leo40Git commented on #103
...you don't need to install a mastercomfig preset to clean up your TF2 install? Just follow [these steps](https://docs.mastercomfig.com/en/latest/setup/clean_up/).

[2019-08-31 10:47] SupinePandora43 commented on #103
@Leo40Git, i mean "install mastercomfig, without presets"

[2019-08-31 10:48] Leo40Git commented on #103
...why would you want to do that? Just pick a preset and customize it via modules. No need to start from scratch.

[2019-08-31 10:58] PoorPocketsMcNewHold commented on #103
I suppose this mean, to create a mastercomfig preset, with mostly just ¨optimisations¨ features. Meaning configured settings which doesn’t affects the graphics in itself. However, I doubt this would be actually useful nonetheless.

[2019-09-01 18:58] Tiagoquix commented on #60
"Source 1" doesn't exist. It's called "Gold Source". CS:GO uses "Source", but commands like mat_picmip/mat_specular (advanced commands) are hidden because CS:GO is a competitive game.

[2019-09-01 20:17] Tiagoquix commented on #103
Make a **modules.cfg** file on **tf/cfg/user** and make your own preset. Follow the steps here: https://docs.mastercomfig.com/en/latest/customization/modules/

[2019-09-01 21:15] #103 closed, assigned to mastercoms

[2019-09-01 21:19] Tiagoquix opened #111 "Why is aa_mssa=none on medium-high preset and not aa_mssa=off?"
If you see here, **aa_msaa** is **none**: https://github.com/mastercoms/mastercomfig/blob/release/config/cfg/presets/medium-high.cfg

But, in the other presets, the value is **off** instead of **none**.
https://github.com/mastercoms/mastercomfig/blob/release/config/cfg/presets/very-low.cfg
https://github.com/mastercoms/mastercomfig/blob/release/config/cfg/presets/low.cfg
https://github.com/masterc

[2019-09-01 21:22] mastercoms commented on #111
So that it's set to the default value for their system. That's the level of performance we want on medium high.

[2019-09-01 21:22] #111 closed, assigned to mastercoms

[2019-09-02 03:59] SupinePandora43 commented on #60
@Perkzitos and how to show them?!

[2019-09-02 04:23] mastercoms commented on #60
You can't show them, unless you hacked the game.

[2019-09-03 01:07] mastercoms commented on #78
Closing due to inactivity.

[2019-09-08 10:53] Auscobe commented on #60
Ah well, I'll be getting a graphics card soon anyway. Thanks for the info.

[2019-10-15 23:27] raphael-costa opened #139 "Top bar not showing up"
https://imgur.com/NJtJ2jX

I have no idea why this is happening

mastercomfig medium-low

badcpu

badgpu

flat-mouse

lowmem

no-extra-models

no-pyroland

no-soundscapes

no-tutorial

slow-io

[2019-10-16 15:38] mastercoms commented on #139
In `user/autoexec`, put `tf_use_match_hud 1`.

[2019-10-16 15:51] #139 closed, assigned to nobody

[2019-10-24 01:44] hoffor opened #141 "srcds local host game crash with "-reuse""
Just wanted to mention that the launch option "-reuse" will crash the game to desktop when attempting to join a Source Dedicated Server hosted from the same device. Might be helpful to point out in the docs since I had no pointers online and had to figure it out on my own. The error message it gives is "Couldn't allocate any server IP port"

Crashes when connecting with internal and external IP. D

[2019-10-24 01:45] mastercoms commented on #141
Honestly, reuse should be removed from the launch options.

[2019-10-24 01:46] hoffor commented on #141
edit: The error message it gives is: " Couldn't allocate any server ip port."

[2019-10-24 01:55] mastercoms commented on #141
Fixed in https://github.com/mastercoms/mastercomfig/commit/af99b679344315e09f4bed25030100d1c74121de.

[2019-10-24 01:55] #141 closed, assigned to mastercoms

[2019-10-26 05:54] ghost opened #142 "do we just not care about linux anymore?"
ubuntu 19.XX, and distros based on it BOTH cannot run mastercomfig. previous distros can, and i have used 18.04 lts, but since that is going to not work within a few years, i wanted to know if MCFG will continue to be supported by linux, and bring this issue to light if no one else knows about this yet.
Regards, a concerend linux user.

[2019-10-26 05:56] mastercoms commented on #142
mastercomfig 7 isn't being supported anymore.

[2019-10-26 05:56] #142 closed, assigned to mastercoms

[2019-11-11 10:15] kamild1996 opened #143 "mastercomfig 8.0.0 significantly slower than masterconfig 6.14.1 (medium preset)"
mastercomfig 8.0.0 is significantly slower compared to the version I was using previously, which is 6.14.1. Using medium preset with no pyroland, no soundscapes, no tutorial and mouse tweaks/flat mouse addons.

Result of your benchmark_test timedemo:
- 8.0.0: `4812 frames 36.438 seconds 132.06 fps ( 7.57 ms/f) 7.925 fps variability`
- 6.14.1: `4812 frames 34.453 seconds 139.67 fps (7.16 ms/f) 6.38

[2019-11-11 11:48] mastercoms commented on #143
Thank you for bringing this to my attention. Could you test the following settings independently and give me the results:

[code]

[code]

[code]

To resolve your config redundancies, remove the following from your autoexec:

[code]

change modules:

[code]

[2019-11-11 15:59] kamild1996 commented on #143
Hm, after rebooting my PC and removing these commands from the autoexec I'm now getting pretty much equal (~0.2 fps diff) performance on both versions... Didn't expect any of these autoexec commands to break things but ok.
I will keep using 8.0.0 and if I manage to experience the performance regression again, I'll let you know via this issue.

[2019-11-11 16:07] #143 closed, assigned to mastercoms

[2019-11-12 05:06] RoonMoonlight commented on #60
This feature will take long time to implement because all of the Source version is not always same.

[2019-11-21 22:31] ghost opened #147 "The module effects set to medium does not show first person tracers, and enables muzzle flashes and shell casing ejection"
**Describe the bug**
The module `effects` set to `medium` enables shell casing ejection and muzzle flashes, and does not show first person tracers, whilst the value is supposed to:

**How you encountered the issue**
I play the game on the Medium Low preset with the `effects=medium` override to enable first person tracers.

**Screenshots**
![notracers](https://user-images.githubusercontent.com/2737

[2019-11-22 01:30] mastercoms commented on #147
These settings do not affect all forms of these effects. The Minigun is a noticeable exception to most of these. But, everything is correct in terms of cvar values in the effects medium module level.

[2019-11-22 01:30] #147 closed, assigned to mastercoms

[2020-01-07 17:18] Tiagoquix opened #158 "No Pyroland Addon doesn't work"
**Describe the bug**
The addon "No Pyroland" doesn't work. It conflicts with the already existent `mtp.cfg` in any mastercomfig presets. The addon is useless and should be descarted.

**How you encountered the issue**
I encountered the issue by exploring the files in the `.vpk` files.

**Desktop (please complete the following information):**
* Config version: don't say latest, say the actual versi

[2020-01-07 18:38] mastercoms commented on #158
This can be fixed by renaming the file. I will be changing all addons to be of the format `mastercomfig-addon-name` and presets to be `mastercomfig-preset-name`. Because you are using **m**edium-low (`mastercomfig-medium-low-preset`), **m** comes before the alphabet than **n** in **n**o-pyroland (`mastercomfig-no-pyroland-addon`).

[2020-01-07 19:31] #158 closed, assigned to mastercoms

[2020-01-19 00:23] AtomicTEM opened #162 "Pyroland textures not appearing"
**Describe the bug**
A clear and concise description of what the bug is.

Pyroland textures aren't appearing on certain maps.

**How you encountered the issue**
Tell us the steps on how to recreate the bug.

Playing casual.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
* Config version: 8.2.2
* Config preset

[2020-01-19 04:52] KaineWooten commented on #162
There are some maps in TF2 that don't have the pyroland textures over them like some others do. It's weird I know but that's just how it went.

[2020-01-19 18:36] AtomicTEM commented on #162
ok so I instlled a mods that add the pyroland textures to other maps
and it works only when i dont have mastercomfig installed

[2020-01-19 20:08] AtomicTEM commented on #162
It seems removing half of the maps in the mtp.cfg fixes the problem.

[2020-01-19 23:05] #162 closed, assigned to mastercoms

[2020-01-20 04:36] Tiagoquix opened #167 "Remove mtp.cfg"
**Is your feature request related to a problem? Please describe.**
I don't think the config should change the default mtp.cfg file. If users want to have more pyroland compatible maps, they will search for a mod for this.

**Describe the solution you'd like**
Just remove mtp.cfg.

**Describe alternatives you've considered**
An alternative is to clean up the file and only include official maps (exc

[2020-01-20 05:13] mastercoms commented on #167
What is this affecting? Disable pyroland disables pyroland, and mastercomfig is supposed to improve the defaults.

[2020-01-20 05:18] #167 closed, assigned to mastercoms

[2020-01-21 08:48] mastercoms opened #174 "Push notifications"
Add push notifications to the download website, so that we can push new releases through cURL, notifying people through their browser that there has been a new update.

[2020-01-21 08:53] mastercoms opened #175 "List breaking changes on download page"
From time to time, there may be breaking changes that require manual intervention to upgrade from a previous version. People either don't check these, or check them less frequently than ideal, thus causing problems with people having outdated configurations.

Additionally, this could be used to intelligently download only the updated VPKs from the last time someone downloaded.

[2020-01-21 21:48] AtomicTEM opened #176 "Preloading breaks animations."
**Describe the bug**
When I use map background to preload animations mods to bypass sv pure, animations are broken.

**How you encountered the issue**

joined valve servers.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
* Config version: don't say latest, say the actual version, found by running `version_comf

[2020-01-22 01:41] Tiagoquix commented on #176
Add this to your `user/autoexec.cfg`:

[code]

[2020-01-22 02:30] AtomicTEM commented on #176
It fixed the issue, but what did it do exactly?

[2020-01-22 02:30] AtomicTEM commented on #176
Also i was using version 8.3.2

[2020-01-22 02:31] AtomicTEM commented on #176
also you may want to update the troubleshooting guide for this issue, because it says to use the old slow I/O addon.

[2020-01-24 21:22] remoof commented on #78
Is there still a need for this because I would be interested in creating this alongside learning rust?

[2020-01-24 21:39] mastercoms commented on #78
Yes! Thanks for your interest.

[2020-01-25 23:06] remoof commented on #78
Alright, I will create a rough version of how I imagine it could look/function like and then get your feedback/suggestions on it. If that is fine with you.

[2020-01-25 23:07] mastercoms commented on #78
Yep, that sounds good!

[2020-01-26 21:24] mastercoms commented on #176
Fixed in 8.3.5. Use preload_enable.

[2020-01-26 21:24] #176 closed, assigned to mastercoms

[2020-02-11 06:19] Perkzitos opened #196 "Add localization support on the main site"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Add localization support on the mastercomfig site based on the user's internet browser language.

**Describe alternatives you've considered**
None.

**Additional context**
Nothing.

[2020-02-11 20:24] Zones5656 opened #197 "Let us edit from ultra to very low comfigs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-02-11 20:24] #197 closed, assigned to mastercoms

[2020-02-11 20:49] mastercoms commented on #197
Hi, did you mean to close this issue? I'd love to know what you wanted for this.

[2020-02-12 21:30] Tiagoquix opened #200 "Site issues"
**The issues**
I found two issues on the site.

1- The download function is slow, it takes like 2 seconds to download every file. Also, sometimes the preset doesn't download.

2- The links to "Troubleshoot issues" (Troubleshooting and feedback) and "Check them out!" (See Also) uses the latest version of docs rather than the stable version.

[2020-02-12 21:35] #200 closed, assigned to mastercoms

[2020-02-12 21:35] mastercoms commented on #200
In the future, report each bug separately.

1) You can use the alternate "Download manually" option.
2) Fixed.

[2020-02-12 23:16] Tiagoquix opened #206 "About cl_ragdoll_collide and ragdoll_sleepaftertime"
`cl_ragdoll_colide`: How does it works exactly?

And, why `ragdoll_sleepaftertime` has his default value with the letter `f`? Is that necessary?

[2020-02-12 23:25] mastercoms commented on #206
The physics system by default checks if either object in a collision is a ragdoll. If so, it does not allow collision. Enabling cl_ragdoll_collide makes it so it does not block collision from this check.

ragdoll_sleepaftertime is 5.0f by default. Any other variation will be marked as modified. It's a small benefit to make it unmodified (I believe some servers check it), since we are setting it to

[2020-02-12 23:25] #206 closed, assigned to nobody

[2020-02-14 19:59] Zones5656 commented on #197
I just wanted to see chat aggain

[2020-02-14 20:03] mastercoms commented on #197
You can edit the config by using user/autoexec.cfg.

[2020-02-24 02:49] Tiagoquix opened #210 "DirectX Levels"
I have a two questions about the DirectX levels.

1- Why the DirectX 8/8.1 documentation has been removed from the docs?
2- Why is DirectX 9.5 the recommended DXLevel by the docs and not 9.0, 9.2 or 9.8? In the past, the recommended DXLevel was 9.8.

That is all.

[2020-02-24 03:14] mastercoms commented on #210
1. It is an attempt to reduce the new user rate of DirectX 8, so that the game's DX8 usage will stagnate and decline, leading to more options for Valve to optimize the game by dropping DX8 support.
2. 92 only works on Linux and Mac. 98 only works on Xbox 360. 90 is not the highest feature level and has unoptimized GPU/resource usage/management.

[2020-02-24 03:14] #210 closed, assigned to nobody

[2020-03-03 02:57] Tiagoquix commented on #60
@mastercoms Will you create a Garry's Mod config? Based on quality and performance at the same time. No customization.

[2020-03-03 14:21] mastercoms commented on #60
I'm still looking at plans on how to best support different games.

[2020-03-04 17:12] Tiagoquix opened #220 "autoexec.cfg executes addons twice"
This does not seems to be necessary. I think only executing an addon after the comfig has been loaded is the sufficient.

[2020-03-04 17:23] mastercoms commented on #220
This was used for experimental addon, but is not used anymore. Thanks for the catch.

[2020-03-04 17:30] Tiagoquix commented on #220
Alright. But executing an addon before the comfig was loaded is unnecessary. Executing an addon right after the comfig is loaded is the correct and necessary, and this also possibilities the addon to override comfig defaults.

[2020-03-04 17:59] mastercoms commented on #220
Yes, it was used in the experimental addon to override module definitions (changing snapshots module), and then run settings to override some comfig defaults. But now it's not used, so it should be removed.

[2020-03-04 18:00] #220 closed, assigned to nobody

[2020-03-04 18:41] Tiagoquix commented on #220
Yes, I understood. What I have said is: you did not needed to execute the addons twice even with the experimental addon. Executing the addons right after the comfig has been executed (that is, once the main comfig has been executed) would be sufficient.

[2020-03-04 18:58] mastercoms commented on #220
Well, modules run can apply new values after comfig, and then if experimental or any other addon overrode a value in a module, then it would be overwritten by the modules run.

[2020-03-05 02:47] Tiagoquix opened #224 "setinfo command"
It is really necessary to have `setinfo` in `cl_interp` and `cl_interp_ratio` commands?
Just a question.

[2020-03-05 02:49] mastercoms commented on #224
Not sure, it's just to be safe, and make sure to send it to the server

[2020-03-05 03:59] #224 closed, assigned to nobody

[2020-03-05 04:00] Tiagoquix commented on #224
`setinfo` is used to change a custom command description, but ok.

[2020-03-05 04:16] mastercoms commented on #224
It's not actually. It sets the value of user info console variables, which are sent to the server.

[2020-03-05 04:55] Tiagoquix commented on #224
If we follow this logic, we would have to use `setinfo` in every command.

[2020-03-05 04:56] mastercoms commented on #224
No, because the server doesn't read every client console variable. Only user info ones.

[2020-03-06 18:31] Tiagoquix opened #225 "Disable automatic image loading in the download section of the main website"
In the download website, whenever you pass your cursor hover a preset, it automatic shows an image. This is annoying, since sometimes the image does not disappears correctly after moving out your cursor of the image. My suggestion is to disable this feature.

[2020-03-12 21:43] Tiagoquix opened #230 "Effects module descriptions"
In the modules page, the `effects=high` and `effects=ultra` have the same description, but in config the only differente is that `effects_ultra` has `cl_ejectbrass` enabled, while `effects=high` doesn't have.

[2020-03-12 21:47] Tiagoquix opened #231 "White line on all config files"
In the last changelog, it is wrote:

[code]

This is not true. If you open any config file inside the .VPK file you can see that every file has a white line on its end.

[2020-03-12 22:57] mastercoms commented on #231
This is just the end of line new line, which is standard on most systems.

[2020-03-12 22:57] mastercoms commented on #230
I think the description should be updated.

[2020-03-12 23:01] Tiagoquix commented on #231
Yeah, but will you remove it?

[2020-03-12 23:05] mastercoms commented on #231
I will look into it.

[2020-03-13 01:55] micwoj92 opened #234 "Further steps in making .vpk smaller"
**Is your feature request related to a problem? Please describe.**
Still some size can be easily shaved off the .vpk
**Describe the solution you'd like**
Remove all unneeded quotes for example in files like this https://github.com/mastercoms/mastercomfig/blob/release/config/addons/mastercomfig-no-extra-models-addon/scripts/extra_models.txt
**Describe alternatives you've considered**
None

**Additi

[2020-03-13 11:00] micwoj92 commented on #234
Pull request #235

[2020-03-13 11:02] micwoj92 commented on #234
@mastercoms  there is also lots of unnecessary characters in these files, but they are much bigger and I am not sure if you need tabs for formatting, can they be removed?

![Screenshot_20200313_120050_de baumann browser](https://user-images.githubusercontent.com/45581170/76615443-59511180-6522-11ea-9845-1792a601e583.jpg)

[2020-03-13 13:50] mastercoms commented on #234
Removing those should be fine.

[2020-03-13 17:00] mastercoms commented on #234
@Perkzitos @micwoj92 Thinking about it further, I think we should only be removing extraneous quotes from files, and maybe some other situation specific characters. Tabs, spaces, and comments can be stripped in the build script.

[2020-03-13 17:21] micwoj92 commented on #234
Lol why didnt I think about it, but anyway I think I did remove all in #235

[2020-03-15 02:21] mastercoms commented on #231
Closing this in favor of #234.

[2020-03-15 02:21] #231 closed, assigned to nobody

[2020-03-22 15:46] thefierybreeze opened #238 "AA gets set to 0 on Ultra config"
If you use the Ultra config anti aliasing is non existent
A workaround i did was use the information here:
https://old.reddit.com/r/tf2/comments/cbb6t3/can_i_set_different_settings_for_different_devices/etekmpn/
and
change the line that makes 16x alias
![image](https://user-images.githubusercontent.com/34712913/77253735-db4ce300-6c64-11ea-9904-fd45512189a0.png)

**Desktop (please complete the foll

[2020-03-22 17:09] mastercoms commented on #238
That's not 8.3.10. This line was changed in 8.3.2.

[2020-03-22 17:09] #238 closed, assigned to mastercoms

[2020-03-24 11:45] adri-hub opened #239 "why forcing tf_romevision_opt_in 1 by default ?"
I recently rearranged my config files and saw that robots had additional hats on. I found that for some reason, the command 'tf_romevision_opt_in 1' was in the comfig.cfg file.

I want to know if this is impacting the game performance in a good way, because adding the hats to the robots seems like doing the opposite + the new carrier tank look.

Therefore, how is it working ? is this an additional

[2020-03-25 15:07] mastercoms commented on #239
That's a good point. I never thought about the performance impact. I will look into it.

[2020-04-06 03:22] #239 closed, assigned to mastercoms

[2020-04-14 16:30] Tiagoquix opened #243 "Toggle ragdoll feature"
Some servers (mostly community competitive servers) do not allow the ``wait`` command (``sv_allow_wait_command 0``). Will this be a problem?

[2020-04-14 16:44] mastercoms commented on #243
No, then it will just be as it was before. No avoiding it, unless you want ragdolls frozen in place.

[2020-04-14 16:44] #243 closed, assigned to nobody

[2020-04-15 06:05] mastercoms commented on #230
Fixed in https://github.com/mastercoms/mastercomfig/commit/1248a9be9ef481d1ba101886b4c7fcb82d0f8984

[2020-04-15 06:05] #230 closed, assigned to nobody

[2020-04-15 06:05] mastercoms commented on #234
Fixed in https://github.com/mastercoms/mastercomfig/commit/1248a9be9ef481d1ba101886b4c7fcb82d0f8984

[2020-04-15 06:05] #234 closed, assigned to mastercoms

[2020-04-15 18:00] Tiagoquix opened #248 "mat_slopescaledepthbias_decal"
As ``mat_slopescaledepthbias_decal`` is now set by the comfig, it should not be removed from ``dxsupport_override.cfg``?

[2020-04-15 18:10] mastercoms commented on #248
No, it needs to be unlocked by dxsupport_override.

[2020-04-15 18:10] #248 closed, assigned to nobody

[2020-04-26 04:23] Tiagoquix opened #254 "New line on all config files"
Would be possible to remove the new lines in all config files like it is removed in mtp.cfg?

[2020-04-26 05:26] mastercoms commented on #254
No, because mtp.cfg is a KeyValues/VDF (Valve Data Format) file, not a config file. If we were to remove new lines from config files, it would require a semicolon, which is just switching a newline for a semicolon, resulting in the same size.

[2020-04-26 05:26] #254 closed, assigned to nobody

[2020-04-30 02:34] Tiagoquix opened #258 "flush_models"
Where/when is this alias is used?

[2020-04-30 02:35] Tiagoquix opened #259 "Is "sound=low"'s description in modules page wrong?"

[2020-04-30 19:22] mastercoms commented on #258
https://github.com/mastercoms/mastercomfig/blob/release/config/cfg/addons/lowmem.cfg#L8

[2020-04-30 19:22] #258 closed, assigned to nobody

[2020-05-01 20:19] mastercoms commented on #259
Yes, but only because the behavior is incorrect. The very low and low things should be reverted, and sound should be forced with dsp_off again, because it can't be set in modules.

[2020-05-01 21:35] #259 closed, assigned to nobody

[2020-05-07 04:27] Tiagoquix opened #266 "voice_toggle doesn't toggle net_udp_rcvbuf"

[2020-05-07 04:44] #266 closed, assigned to nobody

[2020-05-12 01:36] Wiethoofd opened #271 "SourceTV recommended optional convars in server.cfg"
**Describe the solution you'd like**
A set of *recommended* convars for STVs to be optional for server operators.

**Additional context**
Mastercomfig is, as far as I know, a mostly client focused set of configs, with high customizability, however it still provides a `server.cfg` (but no *listenserver* for local servers), which currently does not contain any Source TV related convars.

Suggestion

[2020-05-13 17:40] mastercoms commented on #271
https://github.com/mastercomfig/comfig-fortress/blob/master/tf2/server/tf/cfg/tv.cfg

[2020-05-13 17:40] #271 closed, assigned to mastercoms

[2020-05-14 06:06] mastercoms opened #274 "Autopost to Steam Group"
announce.sh should be able to post an announcement to a specified Steam Group automatically.

[2020-05-14 06:07] mastercoms opened #275 "Autopost to tftv"
announce.sh should be able to post an announcement to a specified tftv thread automatically.

[2020-05-14 06:07] mastercoms opened #276 "Autopost to Steam Chat"
announce.sh should be able to post an announcement to a specified Steam Chat group + channel automatically, appending `@all` to the start of the plain text message.

[2020-05-14 18:05] ann4belle opened #277 "No Pyroland causes CTD on Valve Servers"
**Describe the bug**
The "No Pyroland" addon occasionally causes the game to CTD when joining Valve servers (more likely, any server with sv_pure set like Valve's, but I haven't tested this).

**How you encountered the issue**
1. Install No Pyroland addon
2. Join Valve server
3. Join another Valve server

Step 3 will usually (about 90% of the time in my testing) cause a crash. Occasionally step 2

[2020-05-15 00:55] Tiagoquix commented on #277
Can you test it by downloading the mastercomfig zip package, and then removing the mtp.cfg the config provides and use only the mtp.cfg that comes along with no pyroland addon? Probably the files are conflicting with themselves.

[2020-05-15 15:07] mastercoms commented on #277
Are you sure it is disable pyroland causing the issue? Do you have any other mods?

[2020-05-15 17:30] ann4belle commented on #277
@mastercoms Well, now I have no idea what was causing it, because it resolved itself. I didn't have any mods other than mastercomfig, budhud, and my hitsound and killsound. I'll go ahead and close the issue.

[2020-05-15 17:30] #277 closed, assigned to mastercoms

[2020-05-24 08:55] ghost opened #285 "Hitsound not working"
**Describe the bug**
A clear and concise description of what the bug is.

**How you encountered the issue**
Tell us the steps on how to recreate the bug.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
* Config version: don't say latest, say the actual version, found by running `version_comfig` in console
* Con

[2020-05-24 16:05] mastercoms commented on #285
Could you provide the information as part of the template? I can't help you otherwise, since there's no information on what could cause this.

[2020-05-25 00:14] micwoj92 opened #288 "Update url on profile"
**Describe the bug**
A clear and concise description of what the bug is.
The url on your(Mastercoms') Steam profile points to old url, https://github.com/mastercoms/mastercomfig

**How you encountered the issue**
Tell us the steps on how to recreate the bug.
1. Go to https://steamcommunity.com/id/mastercoms
2. Click on mastercomfig in 'Projects' text showcase.
**Screenshots**
If applicable, add sc

[2020-05-25 06:26] micwoj92 opened #290 "Installation video"
**Is your feature request related to a problem? Please describe.**
Im frustrated when people ask same question over and over again.
**Describe the solution you'd like**
A video like this one I just made https://www.youtube.com/watch?v=51CG9llEQ_c
**Describe alternatives you've considered**
Someone makes installation video with acceptable quality.
**Additional context**

[2020-05-25 15:44] mastercoms commented on #290
We're working on one. Thanks for making an issue and working on a video.

[2020-05-25 15:45] mastercoms commented on #288
Fixed, thanks!

[2020-05-25 15:45] #288 closed, assigned to mastercoms

[2020-05-25 15:45] micwoj92 commented on #290
Oh didnt know, well i made that vid more as a joke, whatever. Maybe leave this issue for other videos requests and related things?

[2020-05-26 01:02] #225 closed, assigned to mastercoms

[2020-05-26 01:02] Tiagoquix commented on #225
https://github.com/mastercomfig/mastercomfig/commit/ebd9a98047e8347d19a9a68154d51a557b8af58b fixed this

[2020-06-02 06:35] Tiagoquix opened #298 "voice_fadeouttime"
Is the value change for this command really necessary? My friend said that my voice was cutting out whenever I stop using my mic, since the voice transmition have a minor delay to transmit all properly. When I set the command to its default value, this stopped happening. The command acts like a push-to-talk delay after stop talking. My suggestion is to not touch this command, since it is primarily

[2020-06-02 08:18] micwoj92 opened #299 "Screenshots don't match presets"
**Describe the bug**
A clear and concise description of what the bug is.
Screenshots no longer match presets
**How you encountered the issue**
Tell us the steps on how to recreate the bug.
1. Go to https://mastercomfig.com/download
2. Check for medium-high
3. No outlines in screenshot
4. Medium high preset has outlines
https://github.com/mastercomfig/mastercomfig/blob/develop/config/cfg/presets/me

[2020-06-02 15:17] mastercoms commented on #298
Fixed in https://github.com/mastercomfig/mastercomfig/commit/86dadfcbff030921eb71cb80433f6887923a4d78

[2020-06-02 15:17] #298 closed, assigned to nobody

[2020-06-02 15:17] #285 closed, assigned to mastercoms

[2020-06-12 02:55] uesu opened #311 "add spydish? windows 10 os optimization"
https://github.com/mirinsoft/spydish

spydish supports `windows 10, version 2004`

quickly perform a **privacy check, disable telemetry, disable cortana, uninstall pre-installed apps**

easy to use, has instructions and details on what do these do

has a community package for advance scripting features based on powershell for debloating windows 10 but it's for `advance users only`

[2020-06-13 18:51] mastercoms commented on #311
What's the benefit over Win10 Privacy?

[2020-06-15 00:22] mastercoms commented on #311
Currently listed here: https://docs.mastercomfig.com/en/latest/os/windows/#disable-unnecessary-services

[2020-06-15 01:18] micwoj92 commented on #311
Only "benefit" I see is that it is open source, but win10privacy seems more popular, at least for me.

[2020-06-15 06:42] mastercoms commented on #311
There's no license, but I guess source available is good too.

[2020-06-15 07:03] micwoj92 commented on #311
Ah didnt even notice

nvm lol https://github.com/mirinsoft/spydish/issues/1

[2020-06-15 07:09] mastercoms commented on #311
Oh, well, I don't think there's any reason then to add it over W10Privacy which has more features and is more popular.

[2020-06-15 07:09] #311 closed, assigned to mastercoms

[2020-06-15 08:44] uesu commented on #311
Sorry for the late reply,

I haven't used w10privacy before, but after testing it, it was the same when you want to clean and debloat windows, but w10privacy has more features and you can create a system restore point incase something is wrong.

Conclusion: I believe that w10privacy is better than spydish. W10Privacy offers a lot of things and has that color of safety that indicates whether is it

[2020-06-17 23:29] micwoj92 opened #317 "Make docs pages wider"
**Is your feature request related to a problem? Please describe.**
Too much space is wasted on sides on current docs pages.

**Describe the solution you'd like**
Make the pages wider

**Describe alternatives you've considered**
Make the side space smaller

**Additional context**
This was talked about on Discord but I'm just adding here for tracking purposes
![image](https://user-images.githubuserc

[2020-06-18 17:38] #317 closed, assigned to mastercoms

[2020-06-18 22:13] micwoj92 commented on #290
+ customizing via modules cfg
+ where to put custom settings

[2020-06-18 22:14] micwoj92 commented on #290
Also can you use the game overrridec cfg in place of "reset.cfg" if you have different binds for different classes?

[2020-06-19 02:25] mastercoms commented on #290
Yes

[2020-06-21 23:03] micwoj92 opened #323 "Steam about page has typo"
**Describe the bug**
A clear and concise description of what the bug is.
The page of mastercomfig's group on Steam has a typo.

**How you encountered the issue**
Tell us the steps on how to recreate the bug.
1. Go to https://steamcommunity.com/groups/comfig
2. Read the about section.
3. Find that "Ko-fi" brand name is missspelled.
**Screenshots**
If applicable, add screenshots to help explain your

[2020-06-21 23:49] #323 closed, assigned to mastercoms

[2020-06-21 23:49] mastercoms commented on #323
Fixed, thanks!

[2020-06-29 20:55] micwoj92 opened #337 "Add source to 3 quotes in faq"
**Is your feature request related to a problem? Please describe.**
Currently there are no source links on https://docs.mastercomfig.com/en/latest/faq/
**Describe the solution you'd like**
Add links to source of quotes

**Describe alternatives you've considered**
Add alternative link
**Additional context**
So one can easily read more about subject without wasting time on finding the sources of quot

[2020-06-29 21:05] mastercoms commented on #337
Links can't be added, as they are in TF2 files (`tf/custom/readme.txt` and `tf/gameinfo.txt`)

[2020-06-29 21:06] mastercoms commented on #337
Actually, scratch that, we can use SteamDB game tracking:

https://github.com/SteamDatabase/GameTracking-TF2/blob/master/tf/custom/readme.txt
https://github.com/SteamDatabase/GameTracking-TF2/blob/master/tf/gameinfo.txt

[2020-06-30 05:33] #337 closed, assigned to mastercoms

[2020-07-02 09:37] micwoj92 opened #348 "A question regarding custom config list."
Some custom configs on [the custom configs list](https://docs.mastercomfig.com/en/latest/customization/custom_config_list/) aren't really "mastercomfig custom configs by members of the community".
I believe that jarconfig and starter config are separate projects that  have mastercomfig compatibility built in and therefore should be moved to the "See Also" section.
rm's config is just an autoexec,

[2020-07-02 09:49] mastercoms commented on #348
Those are fine in my opinion. They're all just examples of things that work out of the box with mastercomfig's config framework, to give ideas about structure and what can generally be put in.

[2020-07-02 09:49] #348 closed, assigned to nobody

[2020-07-02 09:50] micwoj92 commented on #348
Even the NegativeOnion? My biggest "fear" is the demo command.

[2020-07-03 23:33] mastercoms commented on #348
Yes

[2020-07-05 02:20] micwoj92 opened #354 "dxlevel on linux?"
**Is your feature request related to a problem? Please describe.**
On my machine i can choose between 90 and 92.

**Describe the solution you'd like**
Add this info to launch options so its same as macOS.

**Describe alternatives you've considered**
Explain why it isnt included.

**Additional context**
n/a

[2020-07-05 02:22] mastercoms commented on #354
-dxlevel is removed on Linux as far as I know. Can you demonstrate how you were able to choose?

[2020-07-05 02:24] micwoj92 commented on #354
Oh, I used the mat_dxlevel and it only worked with 90 and 92 So I assumed it mirrors the functionality with the -dxlevel launchoption.

[2020-07-05 10:28] #354 closed, assigned to mastercoms

[2020-07-29 03:54] unleashy opened #374 "Add description of expected peformance change with each module setting"
Hi, when tuning the config by manually setting modules, it seems like I’m “flying blind”, so to speak. In some other games, I’ve often seen the expected performance change with a setting. Say, changing the texture quality to “low” is expected to bring a “medium” FPS change, while disabling AA is expected to bring a “high” FPS change.

Therefore, I think it would be nice if the modules page in the

[2020-07-29 04:35] mastercoms commented on #374
It's really dependent on your own system, including bottlenecks and performance in many aspects of your CPU, storage device, memory and GPU, so it's hard to make definitive measurements about these things. I'll see what I can do in terms of marking what's really heavy.

However, modules are mostly meant to adjust for graphical quality while presets are more for performance given their provided set

[2020-07-29 05:30] unleashy commented on #374
That’s quite fair, thank you!

Ah, I didn’t know. I thought the exact opposite lol. Maybe it’s worth it to put this in the documentation, it seems like valuable information.

[2020-08-03 15:09] backgroundman opened #377 "disallowhwmorph needs removed from the launch option suggestions in the docs"
**Describe the bug**
A clear and concise description of what the bug is.
-disallowhwmorph is still in the "recommended launch options"

**How you encountered the issue**
Tell us the steps on how to recreate the bug.
https://docs.mastercomfig.com/en/stable/customization/launch_options/

[2020-08-03 15:11] mastercoms commented on #377
You're visiting the wrong page. This is the official link on every official mastercomfig page, as far as I am aware. https://docs.mastercomfig.com/page/customization/launch_options/

Please let me know if any place links to the stable version of documentation.

[2020-08-03 15:14] backgroundman commented on #377
Ah, my bad. Thanks

[2020-08-03 15:14] #377 closed, assigned to mastercoms

[2020-08-29 16:50] ghost opened #386 "Feature request: Add the No Bullet Dust script as an addon"
I have always used the No Bullet Dust script (`surfaceproperties.txt` edit) from [here](https://pastebin.com/64x5E1AT) when I play TF2, since I find the bullet dust to be distracting and hinder performance, especially with shotguns (or x100 servers) on low-end hardware like mine.

I noticed that some mastercomfig addons do contain scripts (like no soundscapes) so I though "why not have this as an

[2020-08-29 16:50] mastercoms commented on #386
The particle module control this: https://docs.mastercomfig.com/en/stable/customization/modules/#particles

[2020-08-29 16:51] #386 closed, assigned to mastercoms

[2020-09-07 18:05] unleashy commented on #374
I just saw [the mastercomfig way of doing things page](https://docs.mastercomfig.com/en/latest/faq/#what-is-the-mastercomfig-way-of-doing-things), thank you a lot for it! ❤️ I suppose this issue can be closed already?

[2020-09-07 18:27] #374 closed, assigned to nobody

[2020-09-10 21:10] micwoj92 commented on #60
Support for Team Comtress 2? I think it should just be separate branch with releases whenever TC2 gets or loses a particular cvar. It should be trivial to make and maintain.

[2020-10-03 04:44] Tiagoquix opened #394 "Post-processing module name"
Since the correct grammar of post-processing is `post-processing` and not `post processing`, should the module be renamed to `post-processing` instead of `post_processsing`?

[2020-10-03 04:47] Tiagoquix commented on #78
@mastercoms I think this issue should be closed due to inactivity.

[2020-10-03 04:48] #78 closed, assigned to nobody

[2020-10-08 19:27] #394 closed, assigned to nobody

[2020-10-08 19:29] Tiagoquix opened #402 "Packet size module levels"
Shouldn't `packet_size_small` and `packet_small_conservative` have `net_compresspackets_minsize` since they **have** compression enabled?

And why does `packet_size_speed` have `net_compresspackets_minsize` since it **doesn't have** compression enabled?

[2020-10-15 19:25] Tiagoquix commented on #60
What do you think about an intrusive Garry's Mod config? No presets, just one `.cfg` file with one hundred commands or more. Even setting things like `mat_picmip` and `r_rootlod` to a specific value.

[2020-10-19 02:17] mastercoms commented on #402
net_compresspackets_minsize is used even if compression is disabled.

[2020-10-19 02:18] #402 closed, assigned to nobody

[2020-10-20 01:25] GabenCrying opened #407 "Black Screen Bug (When looking around)"
**Describe the bug**
Any mastercomfig preset results in a odd black screen glitch
**How you encountered the issue**
Installing any preset

**Screenshots**
https://www.youtube.com/watch?v=edyLdumbWwE   -- I created a video to depict the issue since it is only active in motion and looking towards specific parts of the map...? I am assuming it is a cosmetic breaking something, however even combined w

[2020-10-20 01:27] micwoj92 commented on #407
This is mesa issue afaik, the temporary solution is to use higher preset or downgrade your driver.

[2020-10-20 01:27] mastercoms commented on #407
This is a Mesa bug. https://gitlab.freedesktop.org/mesa/mesa/-/issues/3514

Downgrade away from Mesa 20.2.

[2020-10-20 01:30] GabenCrying commented on #407
Thank you for the super speed responses! So currently this isn't a real cure, more of a roll the dice sort of thing? It isn't all the time it happens and only started happening maybe two months ago. but yeah I will play with mesa. Thank you again!

[2020-10-20 01:32] treacherousfiend commented on #407
this isn't something we can fix, as its an issue with mesa and not mastercomfig.

[2020-10-20 01:35] GabenCrying commented on #407
Roger Dodger! Thank you again for your fast responses, all. Have a wonderful rest of the day

[2020-10-20 01:35] #407 closed

[2020-10-21 20:13] GabenCrying commented on #407
guys i still need help

[2020-10-21 20:20] micwoj92 commented on #407
This is not mastercomfig issue, please use mesa bugtracker.

[2020-11-09 01:20] TheThunderGuyS commented on #60
Any work on this yet? My PC struggles to run Half-Life 2 and Portal 2 above 60fps but using a handful of mastercomfig cvars in an autoexec boosts it to 100+. Still a pain to set it up this way.

[2020-11-09 08:53] SupinePandora43 commented on #60
Tell me secret, how you can't get 300 fps by default in hl2?

[2020-11-09 22:06] TheThunderGuyS commented on #60
Intel iGPU, a horrible CPU bottleneck, single channel RAM and crippled drivers that break with many games.

[2020-11-17 20:44] gmod64bit opened #418 "Bug: (Artifacts?) when looking around"
**Describe the bug**
When looking around, screen flashes black, same as this guys #407

**How you encountered the issue**
Installing mastercomfig, playing any lobby

**Screenshots**
#407 had used this video which is identical to my own problem
https://www.youtube.com/watch?v=edyLdumbWwE

**Desktop (please complete the following information):** xmonad [window manager]
* Config version: mastercomfig

[2020-11-17 20:45] melvyn2 commented on #418
did you try any of the fixes mentioned in #407 ?

[2020-11-17 20:46] cloutlord420 commented on #418
This is not bug in mastercomfig but rather it is bug in mesa 20.2.x. The mat_phong 0 setting in mastercomfig may exasperate this issue but it is not root cause.

[2020-11-17 20:46] gmod64bit commented on #418
I actually did try what was suggested - downgrading mesa and mat_phong 0. I also tried mesa-git but unfortunately no avail.

[2020-11-17 20:47] melvyn2 commented on #418
There is no fix in mesa yet, so mesa-git would make no difference. What version did you downgrade to?

[2020-11-17 20:50] gmod64bit commented on #418
Yeah that's what I read in #407 however, this only happens when applying mastercomfig, any clues to what it may be that triggers this? It never happens when playing vanilla

I tried  20.0.0 | 19.2.0 | 19.0.0

[2020-11-17 21:01] gmod64bit commented on #418
Oooooooh, mesa 19.3.0-1 fixed it for me!

[2020-11-20 22:10] Tiagoquix commented on #418
@mastercoms This issue can be closed for the time being.

[2020-11-22 17:54] gmod64bit commented on #418
Oh, so that fix worked for about five games. Doesn't seem to matter the mesa version anymore.

[2020-11-22 17:55] melvyn2 commented on #418
https://github.com/ValveSoftware/Source-1-Games/issues/3443

[2020-11-23 16:21] gmod64bit commented on #418
Just read the same fix here

https://gitlab.freedesktop.org/mesa/mesa/-/issues/3514#note_702564

This is lovely, I am going to test it!

_____________
** WORKED**

[2020-11-23 16:25] RicochetYT commented on #418
What made the artifacts disapear (for the most part for me) is to add mat_bumpmap 1 to your gameoverides.cfg or whatever.

[2020-11-23 16:26] gmod64bit commented on #418
Making mat_bumpmap 0 was my cure! Hooray, I can play TF2 again =]

[2020-11-23 19:36] gmod64bit commented on #407
https://gitlab.freedesktop.org/mesa/mesa/-/issues/3514#note_702564

### **_CURE_**

[2020-12-01 15:44] jason0597 commented on #407
I'm running into these issues as well. I thought it was my GPU dying, but then I thought to remove mastercomfig and see if it fixed it. I was really surprised when it did! Thought it was a mastercomfig bug, so I came here.
Alas, it's a mesa bug, and I do indeed run Linux. But it's good to know it's not my GPU that's dying.

[2020-12-02 19:15] jitterdev opened #420 "TF2 starts in wrong resolution"
**Describe the bug**
A clear and concise description of what the bug is.
TF2 starts in wrong resolution

**How you encountered the issue**
Tell us the steps on how to recreate the bug.
Install mastercomfig (I have medium-high)
Launch tf2

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
* Config version: 9.1.0 No

[2020-12-02 19:20] micwoj92 commented on #420
Why do you have "-autoconfig" in your launch options?

[2020-12-02 19:22] JitterDev commented on #420
Sorry for the hassle. I reinstalled the vpk and it's functioning as normal now. If you need more info about it, I can give you some. the +autoconfig thing, was a mistype, meant for that to be +exec autoexec

[2020-12-02 19:27] jitterdev commented on #420
@micwoj92 Someone told me to add something to my launch options, and that fixed it, but it didn't before for some reason when I tried it on my own. Sorry for the time waste. The weird thing about this is that I normally don't need -h and -w in my launch options, but when I installed mastercomfig for some reason it didn't use my default resolution. The -autoexec was a typo, meant for that to say +e

[2020-12-02 19:35] micwoj92 commented on #420
you dont need "exec autoexec" it automatically executes on start.

[2020-12-03 04:55] Tiagoquix commented on #420
Remove `-full` and `-autoconfig` from your launch options. Then, launch the game and use the options window to set your resolution. The problem should be fixed.
Also, I recommend you to try [DX Level 100](https://docs.mastercomfig.com/en/latest/customization/launch_options/#dxlevel-launch-options).

[2020-12-03 14:37] jitterdev commented on #420
mastercomfig's logo prints twice when i have "+exec autoexec" so I have to name my config autoex and do +exec autoex or else mastercomfig prints to console twice.

[2020-12-03 15:43] micwoj92 commented on #420
yes?????

or you just read instructions on how to add custom configs without bad workarounds.

[2020-12-07 20:08] #420 closed, assigned to mastercoms

[2021-01-06 11:27] Tiagoquix opened #438 "Wrong description in spy.cfg"
https://github.com/mastercomfig/mastercomfig/blob/develop/config/mastercomfig/cfg/spy.cfg

// optimization settings seems to be a good choice for now.

mastercomfig doesn't use `cl_pred_optimize 1` for the Spy anymore. I think the description should be updated.

[2021-01-06 11:37] Tiagoquix commented on #206
@mastercoms Shouldn't `cl_ragdoll_colide` be disabled by default? Since it allows collisions, it may cause a disadvantage.

[2021-01-06 13:21] Tiagoquix opened #439 "Some commands present in the No Tutorial addon"
https://github.com/mastercomfig/mastercomfig/blob/develop/config/addons/mastercomfig-no-tutorial-addon/cfg/no-tutorial/second.cfg#L2

`cl_mainmenu_updateglow` : What does this command do?

[2021-01-06 13:27] Tiagoquix commented on #439
https://github.com/mastercomfig/mastercomfig/blob/develop/config/addons/mastercomfig-no-tutorial-addon/cfg/no-tutorial/second.cfg#L16

`cl_promotional_codes_button_show` : This command is not related to a tutorial message. It should be removed or moved to the main comfig.cfg file instead.

https://wiki.teamfortress.com/w/index.php?title=Main_menu&oldid=1709821#View_Promotional_Codes

[2021-01-06 13:29] Tiagoquix commented on #439
https://github.com/mastercomfig/mastercomfig/blob/develop/config/addons/mastercomfig-no-tutorial-addon/cfg/no-tutorial/second.cfg#L29

`tf_weapon_select_demo_time` : What does this command do?

[2021-01-06 13:31] Tiagoquix commented on #439
https://github.com/mastercomfig/mastercomfig/blob/develop/config/addons/mastercomfig-no-tutorial-addon/cfg/no-tutorial/second.cfg#L30

`tf_hud_notification_duration` : This command is useful, even if it shows some tutorial messages, it is used on some community servers by plugins to show notifications to players. A good example is Jailbreak. I think it should be removed from the No Tutorial addon.

[2021-01-06 13:31] Tiagoquix commented on #439
https://github.com/mastercomfig/mastercomfig/blob/develop/config/addons/mastercomfig-no-tutorial-addon/cfg/no-tutorial/second.cfg#L34

`tf_inspect_hint_count 11` : Why 11?

[2021-01-06 13:32] Tiagoquix commented on #439
https://github.com/mastercomfig/mastercomfig/blob/develop/config/addons/mastercomfig-no-tutorial-addon/cfg/no-tutorial/second.cfg#L39

`tf_taunt_always_show_hint` : What does this command do?

[2021-01-06 13:33] Tiagoquix commented on #439
https://github.com/mastercomfig/mastercomfig/blob/develop/config/addons/mastercomfig-no-tutorial-addon/cfg/no-tutorial/second.cfg#L45

https://github.com/mastercomfig/mastercomfig/blob/develop/config/addons/mastercomfig-no-tutorial-addon/cfg/no-tutorial/second.cfg#L46

Doesn't `cl_training_class_unlock_all` already set `cl_training_completed_with_classes 511`?

[2021-01-06 13:35] Tiagoquix commented on #439
https://github.com/mastercomfig/mastercomfig/blob/develop/config/addons/mastercomfig-no-tutorial-addon/cfg/no-tutorial/second.cfg#L47

`tf_romevision_skip_prompt 1` : I believe this command prevents the game from asking if the player wants to use the RomeVision. I think it should be removed from the No Tutorial addon.

[2021-01-06 13:36] Tiagoquix commented on #439
https://github.com/mastercomfig/mastercomfig/blob/develop/config/addons/mastercomfig-no-tutorial-addon/cfg/no-tutorial/second.cfg#L49

`tf_matchmaking_ticket_help` : What does this command do?

[2021-01-22 02:15] Tiagoquix opened #441 "in_usekeyboardsampletime"
Should not it be set to 0 in all presets and not only in the very low preset?

https://github.com/mastercomfig/mastercomfig/blob/develop/config/cfg/presets/very-low.cfg#L76
https://www.teamfortress.tv/28370/in-usekeyboardsampletime

[2021-01-22 03:23] mastercoms commented on #441
It's for keylook. No reason to not have it on the default for a better experience if you use keylook. For everything else, it does nothing.

[2021-01-22 03:25] #441 closed, assigned to nobody

[2021-01-22 11:55] micwoj92 opened #442 "Use sed to replace dates in config with current build date"
**Is your feature request related to a problem? Please describe.**
 I'm always frustrated when I'm using dev builds of mastercomfig but can't exactly see which build I am using.
**Describe the solution you'd like**
Replace the date with current date.

**Describe alternatives you've considered**
Append github commit sha to version number

**Additional context**
Will be much easier to help people th

[2021-01-22 19:00] mastercoms commented on #206
It's already 0 by default in TF2. Also it doesn't cause a disadvantage, it's just ragdolls colliding with each other.

[2021-01-22 19:00] #438 closed, assigned to nobody

[2021-01-22 19:15] mastercoms commented on #439
cl_mainmenu_updateglow adds a glow around featured items in the shop slider after an update comes out
promotional codes are probably only something you'd want to view once, and they're barely used in game anymore
this highlights each of your equipped items if you have fast switch off when you spawn
good point, i will give it some thought
11 is what the check requires to not tell you the hint anymo

[2021-01-22 19:19] mastercoms commented on #442
Good idea

[2021-01-22 20:04] Tiagoquix commented on #206
All right. Just a note: `cl_ragdoll_colide` is enabled in `ragdolls_high`.

[2021-01-22 20:09] #439 closed, assigned to nobody

[2021-01-22 20:40] mastercoms commented on #418
Fixed in b6258a9. (added to troubleshooting docs)

[2021-01-22 20:40] #418 closed, assigned to mastercoms

[2021-01-27 07:31] Tiagoquix opened #443 "zoom_sensitivity_ratio"
Shouldn't the Flat Mouse addon use the value `0.793471413188092` instead of just `0.7934714`?

Reference: https://github.com/JarateKing/jarconfig/blob/master/docs/zoom_sensitivity_ratio.md

[2021-01-27 07:52] Tiagoquix opened #444 "Texture preload list"
Why the comfig doesn't use the default texture preload list file?

These are the differences between the original and the comfig's file:

https://github.com/Tiagoquix/mastercomfig/commit/da3890c29e547653eb8a26792f7f24f7ce392628

Removals mean that the specific lines are only present in the comfig's version of the texture preload list file. Additions mean the [original file](https://github.com/Stea

[2021-01-27 07:55] Tiagoquix opened #445 "Client precache"
Comparing the [comfig's version of the client precache file](https://github.com/mastercomfig/mastercomfig/blob/develop/config/mastercomfig/scripts/client_precache.txt) and the [original file](https://github.com/SteamDatabase/GameTracking-TF2/blob/master/tf/tf2_misc_dir/scripts/client_precache.txt), I can understand why Passtime isn't cached.
But I can't understand why sounds aren't cached. Why the

[2021-01-27 07:57] Tiagoquix opened #446 "No Extra Models addon"
Why it was removed from the comfig?

[2021-01-27 13:17] ghost commented on #443
TF2 only reads floats to a 6-digit precision (which is why `cl_interp` is `0.030303` and not any longer) so any extra length is redundant and makes no difference.

[2021-01-27 19:57] Tiagoquix commented on #443
Then the last number 4 should be removed.

[2021-01-28 18:56] mastercoms commented on #445
because they should already be cached by the entities that play them

[2021-01-28 18:58] mastercoms commented on #444
Why would this be a reason to remove the comfig version?

It removes things which do not exist in the game, and are likely part of a in-development build. There are also some additions of some missing weapon textures that do exist.

[2021-01-28 19:01] mastercoms commented on #446
The extra models system was removed

[2021-01-28 19:01] #446 closed, assigned to nobody

[2021-01-28 22:22] #444 closed, assigned to nobody

[2021-01-28 22:23] #445 closed, assigned to nobody

[2021-01-29 15:13] #443 closed, assigned to nobody

[2021-02-05 21:55] rcmaehl commented on #60
I also would like to see something similar for other source-based games

[2021-02-08 21:13] Tiagoquix opened #454 "What does comfig.yml do?"
https://github.com/mastercomfig/mastercomfig/blob/develop/data/comfig.yml

[2021-02-09 08:37] mastercoms commented on #454
It's a work in progress config data file, using a numeric focused language I am designing.

[2021-02-09 13:39] #454 closed, assigned to nobody

[2021-02-23 07:55] backgroundman opened #457 "Docs - list XanMod kernel under OS Optimizations for Linux"
Some might find XanMod useful, or potentially beneficial to those running AMD Zen 3. Or at least the Ryzen 9 5900X:
https://www.phoronix.com/scan.php?page=article&item=xanmod-liquorix-510

Project's website: https://xanmod.org/

[2021-02-23 08:12] micwoj92 commented on #457
Now we wait.

[2021-02-26 16:38] WhyIsEvery4thYearAlwaysBad commented on #60
I'd like to see mastercomfig for Source servers as well.

[2021-02-26 16:39] mastercoms commented on #60
https://github.com/mastercomfig/comfig-fortress

[2021-03-01 22:51] mastercoms commented on #457
#458 merged, closing.

[2021-03-01 22:51] #457 closed, assigned to mastercoms

[2021-03-01 22:57] micwoj92 commented on #457
hmmm, weird that it didnt close automatically

[2021-03-02 01:02] mastercoms commented on #457
Should be part of the commit message or title I think.

[2021-03-02 23:14] WhyIsEvery4thYearAlwaysBad commented on #60
I don't mean it like a experiment; I mean having a real release mastercomfig version for Source servers. So many servers have bad settings set (like limiting the clients' rate and setting a minimum updaterate) which is why I think there should be one.

[2021-03-03 00:30] mastercoms commented on #60
An experiment is just one part of the development process, but it hasn't progressed much since then. However, it should meet most of your goals.

[2021-03-05 20:13] WhyIsEvery4thYearAlwaysBad commented on #60
I guess that works then.

[2021-03-12 17:14] HurricanePootis opened #462 "Add monke"
**Is your feature request related to a problem? Please describe.**
Mastercomfig is not enticing enough to single-celled TF2 players, who will go on saying its fine to stik with what they're on

**Describe the solution you'd like**
Add monke to the project, so it becomes more enticing.

**Describe alternatives you've considered**
Pay people to use mastercomfig

**Additional context**
ohe oheoh hoeo

[2021-03-12 17:15] micwoj92 commented on #462
You are taking it too far.

[2021-03-12 17:16] HurricanePootis commented on #462
No such thing

[2021-03-12 17:17] micwoj92 commented on #462
Long distance sharting competition!

[2021-03-12 17:18] HurricanePootis commented on #462
:flushed:

[2021-03-12 17:19] #462 closed, assigned to mastercoms

[2021-03-14 21:12] Tiagoquix opened #463 "anti_aliasing=on leftovers"
https://github.com/mastercomfig/mastercomfig/blob/develop/config/templates/modules/modules.cfg#L81

https://github.com/mastercomfig/mastercomfig/blob/develop/data/modules.json#L302

https://github.com/mastercomfig/mastercomfig/blob/develop/docs/customization/modules.md

@mastercoms

[2021-03-18 18:31] ghost opened #466 "fps cap doesnt work"
its on 1000 no matter what i do

using linux, may that help you in any way

[2021-03-18 18:32] micwoj92 commented on #466
And how have you tried limiting it? in autoexec, in game?

[2021-03-20 16:41] #463 closed, assigned to nobody

[2021-03-20 16:42] #466 closed, assigned to nobody

[2021-03-30 11:41] DeWolfRobin opened #470 "Alt-tab generating lag"
**Describe the bug**
When the game is in the background, the sound lags and is chopped up. I am assuming that this is for performance reasons but is there a way to turn this of? I have multiple screens and every time I do something on another screen the audio is chopping up.

**How you encountered the issue**
Open the game in borderless fullscreen. alt-tab to another program when there is sound in

[2021-03-30 11:42] micwoj92 commented on #470
Please update your mastercomfig and your launch options.

[2021-03-30 12:04] DeWolfRobin commented on #470
What can I update about my launch options?

[2021-03-30 12:22] micwoj92 commented on #470
https://docs.mastercomfig.com/en/latest/customization/launch_options/
https://docs.mastercomfig.com/en/latest/tf2/misconceptions/
read

[2021-03-30 12:28] #470 closed, assigned to mastercoms

[2021-03-30 12:28] micwoj92 commented on #470
noob

[2021-04-02 18:27] Tiagoquix opened #476 "mat_aaquality"
Should we block this too?

https://github.com/CriticalFlaw/flawhud/commit/ffbcd924c4f421d4e9131d77c972e0956d8b6a9e

[2021-04-02 18:31] Tiagoquix commented on #476
No, we shouldn't.

[2021-04-02 18:31] #476 closed, assigned to nobody

[2021-04-05 14:24] micwoj92 opened #477 "Use nawk instead of awk"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I am forced to use bloated/featureful  GNU tools that are slower than counterparts.

**Describe the solution you'd like**
Replace the awk (which is most likely symlinked to gawk) with nawk.

**Describe alternatives you've considered**
mawk, but nawk was faster in my tests

**Additional context**
Mastercom

[2021-04-06 22:33] Tiagoquix opened #478 "Change shadows from high to very_high in the High preset"

[2021-04-06 23:14] mastercoms commented on #478
high has not changed. so it will stay.

[2021-04-06 23:14] #478 closed, assigned to mastercoms

[2021-05-06 06:33] Tiagoquix opened #484 "Remove tf_hud_notification_duration from the No Tutorial addon"
This command isn't used only to show tutorial messages. For example, it is used to show warnings (like when the enemy gets your intel). It is also used by community-made maps and plugins.

[2021-05-06 06:42] Tiagoquix commented on #484
https://github.com/mastercomfig/mastercomfig/issues/439#issuecomment-755300124

[2021-05-10 06:31] #484 closed, assigned to nobody

[2021-05-10 06:32] mastercoms opened #486 "Use GH CLI"
Instead of using the GH API directly using curl and manually crafting and parsing JSON data, we can use the GH CLI which also comes pre-installed in GitHub Actions.

[2021-05-13 16:21] KevinRommens opened #488 "player model not showing up in hud after enabling it in config"
**Describe the bug**
i have to manually set the playermodel to be displayed in my hud all the time even if its enabled in the config

**How you encountered the issue**
download any preset with low

**Desktop (please complete the following information):**
version mastercomfig : 9.2.0 | March 20, 2021
Low with no tutorial, no pyroland..
* DX level: no idea
* Launch options: -novid -frequency 144
* O

[2021-05-13 17:06] KaineWooten commented on #488
It could be that you have the command to disable the panel in your autoexec or game_overrides files if you have either or. There is also the chance that modules.cfg could be conflicting as well

[2021-05-13 17:11] KevinRommens commented on #488
no, all panels are enabled. maybe its my modules.cfg but i highly doubt it

[2021-05-13 17:12] KaineWooten commented on #488
always worth a check

[2021-05-13 18:49] KevinRommens commented on #488
no, my modules.cfg doesnt  seem to be interfering

[2021-05-14 08:10] Tiagoquix commented on #488
Please post your autoexec.cfg and your modules.cfg here.

[2021-05-14 14:40] KevinRommens commented on #488
I dont  have an autoexec.cfg
I deleted my modules.cfg yesterday in the hopes that that would fix it. didnt work.

[2021-05-14 15:08] KaineWooten commented on #488
What hud are you using? That could also be a factor but also not, minus well check

[2021-05-14 16:53] KevinRommens commented on #488
flawhud

[2021-05-14 18:08] Tiagoquix commented on #488
Low presets disable the HUD player model by default. Only High and Ultra enable it by default.

Create a modules.cfg in `Team Fortess 2\tf\cfg\user` and type `hud_player_model=on` inside the file and save it. Your problem should be fixed.

[2021-05-18 20:52] Tiagoquix opened #490 "Remove the SourceTV Compatibility module"
The most useless module present in the whole config. Probably one out of 50 thousand people use the `sourcetv=off` setting.

[2021-05-18 21:01] treacherousfiend commented on #490
personally i'd say its the opposite, most users don't use sourcetv at all or even know what it is. I don't see an issue with it being in comfig.

[2021-05-18 21:05] Tiagoquix commented on #490
I also don't see a issue with being in comfig. However, like you said, "most users don't use sourcetv at all or even know what it is."

`sourcetv=off` isn't even used on any preset by default.

[2021-05-18 21:08] treacherousfiend commented on #490
its a good point, but i feel like disabling something that is in the game by default could cause issues with the players that _do_ use it having it not work after installing comfig. Maybe we could disable it as the default in very low?

[2021-05-18 21:15] Tiagoquix commented on #490
https://docs.mastercomfig.com/en/latest/customization/modules/#sourcetv-compatibility

The default setting is `sourcetv=on` on all presets. You can turn the compatibility off to reduce the latency of changing spectator targets, and I doubt anyone prefers the off setting.

`sourcetv=on` (which is the default) does literally nothing. https://github.com/mastercomfig/mastercomfig/blob/develop/config/m

[2021-05-18 21:18] treacherousfiend commented on #490
Ah, I see. Remove it in the same way that the opengl module technically only has one option and the other just clears the alias (https://github.com/mastercomfig/mastercomfig/blob/develop/config/mastercomfig/cfg/comfig/comfig.cfg#L843), I agree with that.

[2021-05-18 21:23] Tiagoquix opened #491 "Add raw input to the Flat Mouse addon again"
https://github.com/mastercomfig/mastercomfig/commit/10c278f3a990ce393dce687063463c1bd52628de

The raw input has been present in this module for years. I think most people use it because of the raw input, which as far as I know, also disables some mouse acceleration from Windows.

I don't know for what reasons it could be considered as "suspect", but I can say it is enabled by default in CS:GO and

[2021-05-18 21:27] Tiagoquix commented on #490
The OpenGL module is pretty useless too. mastercoms created it just for people to avoid the "Unknown command" spam from the developer console.

The SourceTV Compatibility, however, has a real function other than just skipping the commands, but like I said, I doubt anyone prefers the off setting.

[2021-05-19 00:41] mastercoms commented on #490
Why do you doubt anyone prefers the off setting? Many people do not use SoutceTV and I have personally seen many uses of this module. I don't know what benefit removing it does. It's not default because of new mastercomfig policy to be as compatible as possible out of the box. This does not mean we remove non-default options with clear benefit. This is a customization config.

[2021-05-19 06:51] Tiagoquix commented on #490
Yes, I know this is a customization config and I know that the module isn't enabled by default because of the policy. However, I feel like this module is more an ornament to the config rather than a really useful module.

Probably, most people who know what SourceTV is would see the module in the docs and think: "Nah maybe I will need this someday" so they don't disable it.

People who don't know

[2021-05-20 01:32] TheThunderGuyS commented on #490
I use `sourcetv=off`, I exist.

[2021-05-21 10:25] Sirbucket commented on #490
SourceTV is actually required on some levels of comp so, having it off or on without knowing what it does is not exactly smart.

[2021-05-21 13:01] #490 closed, assigned to nobody

[2021-05-21 17:48] ghost commented on #60
I'd really like to see mastercomfig for the Left 4 Dead games because they hide a lot of their convars, most of the hidden convars have no good reason to be hidden in my opinion. I tried modifying dxsupport_override.cfg one time but it didn't work, I think I just did it wrong though. You can change hidden convars by modifying scripts/gamemodes.txt, (Only in L4D2) but you have to join a singleplaye

[2021-05-22 15:40] #488 closed, assigned to mastercoms

[2021-05-22 15:48] mastercoms commented on #491
Flat Mouse already disables Windows mouse acceleration through other means. Source's usage of the Raw Input API is suspect because it is very naive and does not handle many mouse movement cases properly.

[2021-05-22 16:03] Tiagoquix commented on #491
Even if it is suspect I think it should be enabled by default. CS:GO enables it by default. And it works.

Removing raw input from the Flat Mouse addon will just cause people to enable it manually. And also, even if it remains removed, it will remain saved on the users' config.cfg.

[2021-05-22 16:05] Tiagoquix commented on #491
And also, this is an addon, people aren't forced to use it, so there isn't any real benefit from removing raw input from this addon. And, like I said, "I think most people use it because of the raw input".

[2021-05-22 16:24] melvyn2 commented on #491
Do you have a source for this? The addon is called “flat mouse,” not “raw input” and focuses of the mouse being 1:1 (not low latency which is what I assume raw input is for).

And people won’t install it just to enable that cause it’s in the options menu.

[2021-05-22 16:40] mastercoms commented on #491
Like I said, it doesn't handle some mouse input cases correctly. So no, it does not work despite this statement. I am going to close this issue, because it doesn't seem there is a tangible case being made for raw input to stay forced on.

[2021-05-22 16:40] #491 closed, assigned to nobody

[2021-06-08 03:16] micwoj92 opened #500 "Localization for the docs."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I want to help someone but that person does not speak English very well and has trouble understanding docs.

**Describe the solution you'd like**
Enable translation support.

**Describe alternatives you've considered**
none

**Additional context**
https://www.mkdocs.org/about/release-notes/#version-12-202

[2021-06-08 03:20] treacherousfiend commented on #500
i wonder if we could have the sidebar go to different links based on the translation, that might workaround the fact that markdown isn't transtlated

[2021-06-08 03:24] mastercoms commented on #500
This needs to be done by publishing docs to github.io using [mike](https://github.com/jimporter/mike) instead of using Read the Docs.

[2021-06-08 10:35] micwoj92 commented on #486
Isn't this fixed now?

[2021-06-08 11:06] #486 closed, assigned to mastercoms

[2021-06-09 23:25] micwoj92 commented on #500
Read the Docs doesn't support it? For example in url page there is /en/ which indicates that it should be possible to use other languages?

[2021-06-09 23:30] mastercoms commented on #500
Only for Sphinx

[2021-06-10 06:45] chrisjiang1 opened #504 "config not working in comp mode"
I tried using "mm_override" but the config does not use the "low" preset I specified and is stuck on high settings in competitive mode. The config works normally in community servers

[2021-06-10 07:00] micwoj92 commented on #504
mm_override is to prevent from crashing. The way you are supposed to use it is to execute it before joining competitive mode if your game crashes without doing it.

[2021-06-10 09:37] #504 closed, assigned to nobody

[2021-06-14 16:44] micwoj92 opened #511 "Move mm override to separate addon."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have bloat in my comfig.

**Describe the solution you'd like**
Move these commands to addon.

**Describe alternatives you've considered**
Remove completely.

**Additional context**
N/a.

[2021-06-14 16:45] #511 closed, assigned to mastercoms

[2021-06-14 16:47] micwoj92 commented on #511
:-1:

[2021-06-15 05:28] ghost commented on #477
A whopping 500ms faster.
Since nawk isn't installed on most systems by default that means you'll have to install it manually which nullifies any speed gained from running nawk in the first place.

`hyperfine --warmup 5 --min-runs 20 'find . -type f \( -name "*.so" -o -name "hl2_linux" \) -print0 | xargs -0 strings | grep "^\-[A-Za-z]" | awk 'NF==1' | sort -u > launch_options.txt' 'find . -type f \

[2021-06-15 13:10] micwoj92 commented on #477
Using the same logic I can say that coreutils rewritten in rust are not installed by default on systems and it would nullify any speed gained from running them in first place, yet some people still want to use them. Or maybe some there is some gnu awk rust rewrite that is faster and I am not aware of it? Anyway, thanks for confirming the tests on your system (with much longer testing than I did).

[2021-06-15 14:22] #477 closed, assigned to mastercoms

[2021-06-16 11:57] micwoj92 opened #514 "mastercomfig is no longer config but a framework."
**Describe the bug**
According to one of recent commits on the main site https://github.com/mastercomfig/mastercomfig.github.io/commit/7ad0bffe6fc87c3117030fed08e0d477bf395080#diff-0eb547304658805aad788d320f10bf1f292797b5e6d745a3bf617584da017051 mastercomfig is no longer "A modern Team Fortress 2 performance and customization config" but  "a modern customization framework".

**How you encountered

[2021-06-16 12:04] mastercoms commented on #514
A subset of the framework is a config, so some instances of the word config are fine. I'll update the usages where appropriate, thank you for bringing this to my attention!

[2021-06-16 12:41] #514 closed, assigned to mastercoms

[2021-06-16 20:25] mastercoms opened #516 "Readd micwoj92 to the Discord"
**Describe the bug**
I'm always frustrated when I think about micwoj92 and his antics, and how they are sorely missing from the [mastercomfig Discord server](https://discord.gg/CuPb2zV).

**How you encountered the issue**
I wanted to ping @micwoj92 with a meme but found that he was not in the members list. Then we all cried.

**Describe alternatives you've considered**
micwoj92 could explain why h

[2021-06-16 21:34] micwoj92 commented on #516
I'm always frustrated with mis-pronoun-ciation.

I will be back on 12th September.

[2021-06-16 21:39] mastercoms commented on #516
I intended for 'they' to refer to the plural group of you and your antics. I'm sorry that it seemed like a misusage of your pronouns.

Thank you for the update, we eagerly await your return.

[2021-06-16 21:39] #516 closed, assigned to mastercoms

[2021-06-16 21:51] micwoj92 commented on #516
If you miss me: I can't help.
If you miss my antics:  [here's a short video](https://www.youtube.com/watch?v=TRR8LxA1HYE) which can help you.

[2021-06-16 22:11] melvyn2 commented on #516
Note that TF CAT’s nitro will be active until ~September 12 and not July 12 as it was claimed from the 3 month EGS Nitro promotion. @micwoj92

[2021-06-17 22:39] rafaderren opened #517 "my console is flooded with hud load errors"
can someone tell me what file that make these alot of errors its distracting me

![image](https://user-images.githubusercontent.com/76096781/122480243-b0337980-cff6-11eb-9afa-334508e59297.png)

[2021-06-17 22:52] mastercoms commented on #517
Do you have a custom HUD? If not, verify your game files. This is not a mastercomfig issue, so closing.

[2021-06-17 22:52] #517 closed, assigned to nobody

[2021-06-18 15:37] wgetJane commented on #516
poll: disable external emojis

[2021-06-22 08:46] Tiagoquix commented on #504
https://docs.mastercomfig.com/en/latest/next_steps/troubleshoot/#tf2-crashes-when-entering-a-competitive-mode-match

Run `mm_override` in the console on the main menu before joining a Competitive Mode match to make the config compatible.
You will have to restart the game to unlock the hidden settings and revert the config back to normal.

[2021-06-26 18:04] mastercoms commented on #500
Fixed in 214ae6a8e7d97bc935d367b79ffe1db9c97196f6 and beyond!

[2021-06-26 18:04] #500 closed, assigned to mastercoms

[2021-06-26 18:25] micwoj92 commented on #500
Thank you for removing Polish support, I will never forget that.

[2021-06-26 18:28] mastercoms commented on #500
Unfortunately, in mkdocs strict mode builds, we cannot include Polish since it is not supported in the search plugin: https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-search/#built-in-search

https://github.com/mastercomfig/mastercomfig/runs/2919738772?check_suite_focus=true#step:6:8

[2021-06-26 18:32] micwoj92 commented on #500
oh

[2021-06-26 18:53] mastercoms commented on #500
Since you said "For now only Spanish and French are supported by it, but I think it is a good start." I hope you are ok with this.

[2021-06-26 18:54] mastercoms commented on #500
Contribute here: https://github.com/MihaiValentin/lunr-languages/blob/master/CONTRIBUTING.md

[2021-06-26 19:25] micwoj92 commented on #500
Yes, but I saw that you used mike now so I thought that more languages will be supported. I didn't have much time to read the details which I should have done prior to commenting.

[2021-07-05 00:40] micwoj92 opened #547 "Add redneck localization"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when going to mastercomfig documentation page, redneck localization could help brighten my day.

**Describe the solution you'd like**
Add redneck, same as Redhat had back in the day

**Describe alternatives you've considered**
none

**Additional context**
Add any other context or screenshots about the feature

[2021-07-05 04:27] Sirbucket commented on #547
Ahh good ol RHEL.

[2021-07-05 04:29] Sirbucket commented on #60
I just made my own slight attempt to get one to work for GMOD, however all I know how to do is convert the aliases over and make the performance options GMOD friendly, I have no clue how to do much else though.

[2021-07-07 20:18] NekoAlosama opened #553 "'Console' is separated into two sections in comfig.cfg"
**Describe the bug**
In [comfig.cfg](https://github.com/mastercomfig/mastercomfig/blob/develop/config/mastercomfig/cfg/comfig/comfig.cfg), the '-- Console --' block is placed into two sections, around lines 1156 and 1252. They both contain `//con_enable 1`, but the former has the aliases for the console flip. These sections should be collapsed into one.

**How you encountered the issue**
Go into [

[2021-07-07 22:59] Tiagoquix commented on #553
Fixed in #543

[2021-07-08 02:53] WhyIsEvery4thYearAlwaysBad opened #554 "Nav-mesh areas with certain attributes make graphical artifacts."
**Describe the bug**
Some navigation mesh attributes make rainbow-colored artifacts. I have only seen this bug happen with `TF_NAV_RED_SPAWN_ROOM` and `TF_NAV_BLUE_SPAWN_ROOM`, but I haven't fully narrowed down the attributes yet. I'm uncertain if `nav_edit` affects this bug in any way, but I know `tf_show_mesh_decoration` does.

This bug does not happen with none-preset or stock/clean TF2, but I

[2021-07-08 04:10] #553 closed, assigned to mastercoms

[2021-07-08 07:41] Tiagoquix commented on #554
Can you please test this bug with the Ultra preset so we can see if the problem is a graphical command?

[2021-07-08 12:21] micwoj92 commented on #554
I think the problem is your GPU running at only 33Mhz.

[2021-07-08 21:29] WhyIsEvery4thYearAlwaysBad commented on #554
TF2 is crashing on me at the moment when I try to launch it for some reason, but when I can get it working again, I will test this bug with the Ultra preset.

EDIT: Actually looking at it further, it's seems like the low and ultra presets crash the game for me.

[2021-07-09 03:02] mastercoms commented on #274
https://github.com/DoctorMcKay/node-steamcommunity/wiki/CSteamGroup#postannouncementheadline-content-hidden-callback

[2021-07-09 03:04] mastercoms commented on #276
https://github.com/DoctorMcKay/node-steam-user/wiki/SteamChatRoomClient#sendchatmessagegroupid-chatid-message-callback

[2021-07-09 03:04] #275 closed, assigned to mastercoms

[2021-07-09 18:33] Tiagoquix commented on #554
Try this:

https://docs.mastercomfig.com/9.5.2/setup/clean_up/

[2021-07-10 00:14] WhyIsEvery4thYearAlwaysBad commented on #554
Turns out this craptop can't handle the Ultra or High presets, as I've managed to launch TF2 just fine with medium-high, so that preset is the max I can handle. This bug does seem to also occur on medium-high (with no custom modules.cfg) though:

![Rainbow-colored artifacts all over the screen.](https://user-images.githubusercontent.com/67948198/125146085-b7d8d080-e113-11eb-9940-271a8d76bc3e.png)

[2021-07-10 20:49] mastercoms commented on #547
I don't think there's much capability to add this dialect, nor do I think it provides anything meaningful.

[2021-07-10 20:49] #547 closed, assigned to mastercoms

[2021-07-10 20:50] mastercoms commented on #554
Try mat_bufferprimitives 0

[2021-07-10 20:51] micwoj92 commented on #547
Easter egg better than "hehe amogas"

[2021-07-10 20:52] mastercoms commented on #547
Maybe for April Fools then?

[2021-07-11 02:30] WhyIsEvery4thYearAlwaysBad commented on #554
Yeah that seems to have fixed the issue.

[2021-07-11 02:30] #554 closed, assigned to mastercoms

[2021-07-11 02:44] mastercoms commented on #554
Fixed in https://github.com/mastercomfig/mastercomfig/commit/f2f6eec7e4d41a830a1b477d3ebdc5c59893a293.

[2021-07-13 21:22] wweony23 opened #557 "Random Glitches On My Screen"
**Describe the bug**
A clear and concise description of what the bug is.

**How you encountered the issue**
Tell us the steps on how to recreate the bug.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/72761693/125525403-3d3adb3d-e82b-4c27-b59c-73dd883a3b23.png)
![image](https://user-images.githubusercontent.com/72761

[2021-07-13 21:36] micwoj92 commented on #557
Your  problem is using launch option that doesnt work

[2021-07-13 21:43] AethWolf commented on #557
Does it glitch out in any other game? Looks kind of like a dying GPU to me.

[2021-07-13 22:41] mastercoms commented on #557
I don't recognize `6623512`. What is this supposed to be? Can you try the latest dev build?

[2021-07-15 01:18] mastercoms commented on #557
I am very sure that this is fixed in the latest dev build, as of https://github.com/mastercomfig/mastercomfig/commit/f2f6eec7e4d41a830a1b477d3ebdc5c59893a293.

[2021-07-15 01:18] #557 closed, assigned to mastercoms

[2021-07-15 20:21] wweony23 commented on #557
9.5.2

[2021-07-15 20:21] wweony23 commented on #557
No, it only happens here and only after mastercomfig download.

[2021-07-15 21:32] WhyIsEvery4thYearAlwaysBad opened #558 "Integrate better bot support into mastercomfig."
**Is your feature request related to a problem? Please describe.**
Bots are horribly configured in stock TF2. The bot cvars (e.g `tf_bot_notice_backstab_chance`) aren't matched up with the bot difficulty (determined by `tf_bot_difficulty`), and/or are set to bad parameters.

For instance:

* Archer Sniper and Demo bots will always fire with the same slope (set through `tf_bot_arrow_elevation_rate`

[2021-07-15 21:45] micwoj92 commented on #558
Why do you want to hack using mastercomfig? You just raised a big red flag.
Do you know what flag was there? USA flag, Union Jack. Replacing freedom
with communism...

W dniu czwartek, 15 lipca 2021 WhyTheHellIsEvery4thYearGarbage? <
***@***.***> napisał(a):

[2021-07-15 23:26] micwoj92 commented on #558
@treacherousfiend I will downvote all your reddit posts.

[2021-07-15 23:44] MeDerpWasTaken commented on #558
don't do something like that! they're a person too!

[2021-07-16 02:15] WhyIsEvery4thYearAlwaysBad commented on #558
I just realized that Pyros won't use airblast at all if `tf_bot_pyro_shove_away_range` is set to 0, so it's best to keep it at a low value (under 50hu) that is above zero. That way bot pyros will only use airblast when the enemy gets too close for comfort or they need to airblast übered enemies.

Also I'll work on a mockup for bot support.

[2021-07-16 20:18] WhyIsEvery4thYearAlwaysBad commented on #558
Here is my mockup for bot support so far. The names are probably going to need to be changed.

## Commands

* `bot_mvm_patch` - Creates an invisible item_teamflag that runs ForceReset upon the OnPickup output. This command should be used to make RED bots function in Mann Vs. Machine.

The action in code form:
[code]
This command will not be able to be run automatically as that would require mvm ma

[2021-07-17 20:17] Tiagoquix opened #561 "Remove docs workflow"
Doesn't work and it is very annoying.

![image](https://user-images.githubusercontent.com/30274161/126048432-f24dffca-a375-4084-b04f-c37ef985a005.png)

[2021-07-17 20:42] mastercoms commented on #561
Instead of fixing it?

[2021-07-17 20:44] mastercoms commented on #561
I thought I fixed this, but turns out I never pushed the fix.

[2021-07-17 20:46] mastercoms commented on #561
Actually, this was pushed, but never made it to the develop branch.

[2021-07-17 20:46] #561 closed, assigned to nobody

[2021-07-20 05:51] Tiagoquix commented on #561
the problem persists

![image](https://user-images.githubusercontent.com/30274161/126268601-53c8ea21-46e9-4969-a185-bc840dcb2f18.png)

@mastercoms

[2021-07-20 06:49] treacherousfiend commented on #561
This appears to actually be a different issue caused by pages not existing (and as such having dead links). Should be a simple fix?

edit: fixed as of 16344a0

[2021-08-16 00:00] Tiagoquix commented on #561
Not fixed. Although the "failed" errors did stop, the notifications did not. They are always bothering me.

@mastercoms

![image](https://user-images.githubusercontent.com/30274161/129496595-f2617a4a-3d01-426f-bbf6-fa33124d1c12.png)

![image](https://user-images.githubusercontent.com/30274161/129496598-045e113c-a2da-44d3-ba89-e67249c8c880.png)

[2021-08-16 00:06] mastercoms commented on #561
Try using a git client instead of repetitively editing each file separately

[2021-08-16 00:06] treacherousfiend commented on #561
This is a different issue, looks like its due to another commit happening before the build finishes

[2021-08-16 00:30] mastercoms commented on #561
I've attempted to disable the cancellation on PRs.

[2021-08-16 00:47] mastercoms commented on #561
I've made an alternative solution to what cancellation was trying to solve.

[2021-08-16 01:07] mastercoms commented on #558
Closing in favor of PR.

[2021-08-16 01:07] #558 closed, assigned to mastercoms

[2021-08-27 03:24] WhyIsEvery4thYearAlwaysBad commented on #60
Any progress so far?

Also if possible I think there should be a way to automate the generation of mastercomfig itself. (Like to automatically generate the config for different games.)

[2021-08-30 23:13] fdils opened #576 "Setting Post-Processing below "High" breaks the cubemaps for select maps"
**Describe the bug**
If post-processing is set to anything below "high" in modules.cfg, the cubemaps for specific maps (ie. 2Fort, Sawmill, Well, Watchtower) will fail to load, and the following error will appear in console for each cubemap texture:

Requesting texture value from var "$basetexture" which is not a texture value (material: skybox/...)

After rebuilding the cubemaps, the error will n

[2021-08-30 23:56] mastercoms commented on #576
Thanks so much for tracking down this bug!

[2021-08-30 23:56] treacherousfiend commented on #576
I believe this is not entirely a comfig issue, as the console errors (or at least, the skybox ones) happen even when running with -default!

I've actually done a bit of research into this bug beforehand, and it seems like just about all the materials that cause errors are map created ones that parent the actual material, with the texture var supposed to be set by said material, so it seems like so

[2021-08-31 04:48] itVictor commented on #576
Very annoying issue (especially for water) that I've been dealing for quite a while (mostly on custom maps), nice to see that people are trying to look into it. Some thoughts:

1. It is not config related; I've seen this issue happen in other source games and on a clean install of tf2.
2. the issue will go away if you manually build cubemaps for the map(s) in question, your game will crash because

[2021-08-31 05:06] treacherousfiend commented on #576
I have an nvidia GPU, so its not that, literally from what I can tell is just that for some reason the game is failing to load the "include" statement in the vmt correctly.
For example, here's what the water material that is erroring out in my image has for its vmt file
[code]
If you look at the material it includes (not including water_2fort.vmt here because of how long it is), it _does_ have all

[2021-08-31 05:14] itVictor commented on #576
One thing I forgot to mention: For some strange reason (on the custom maps that have this problem), deleting the bsp and redownloading it from somewhere **after doing the build cubemaps workaround,** the issue is not present on the newly downloaded bsp.

[2021-09-10 16:55] differentiaI opened #581 "Domination Sound & Miss Pauling Messages Sound Removal - Addon Request"
**Is your feature request related to a problem? Please describe.**
Several users now turn to play community servers due to the casual servers being populated by bots and cheaters. As a result most of these community server hosters have sv_cheats 1 enabled. I noticed that when you get dominated the sound produced by the game is extremely annoying as well as the alerts made by Miss Pauling when you

[2021-09-10 17:14] micwoj92 commented on #581
Hello John Fitzgerald Kennedy

[2021-09-10 17:28] mastercoms commented on #581
I think this is out of scope for mastercomfig, but I'm not sure. It can help with quality of life.

[2021-09-10 18:59] differentiaI commented on #581
I agree with you. However I believe you can create a separate section called Third party Add-Ons for these files.

[2021-09-10 18:59] differentiaI commented on #581
Hello loyal citizen.

[2021-09-10 19:00] micwoj92 commented on #581
You mean just like https://docs.mastercomfig.com/9.5.2/customization/see_also/ ?

[2021-09-11 06:59] differentiaI commented on #581
I did, but unlike the customizations webpage these are sound mods equivalent to "No Soundscapes" and "No Footsteps" in the Official Addons page since at that point we are just objectively removing annoying game sounds.

[2021-09-17 04:32] mastercoms opened #583 "Add hardware usage labels"
### Discussed in https://github.com/mastercomfig/mastercomfig/discussions/574

<div type='discussions-op-text'>

<sup>Originally posted by **JonatannossreP** August 18, 2021</sup>
I have no problem running this game GPU wise as I can run it over 144 FPS at 4K, but my FPS can still drop to two digits when a lot of CPU intensive things happens at once (even as extreme as averaging 50 FPS if you fill

[2021-09-17 21:20] mastercoms commented on #583
Fixed in https://github.com/mastercomfig/mastercomfig/commit/77a70e5da3c737695c539ddc819ffdea5a255c6e.

[2021-09-17 21:20] #583 closed, assigned to nobody

[2021-09-18 01:47] NekoAlosama opened #587 ""quit smoking" unexplained in comfig.cfg"
**Describe the bug**
See title for main problem. In ce1cf1c066295ca408902a264c2d611221853801, these commands were added into comfig.cfg:
![Screenshot_185](https://user-images.githubusercontent.com/47763383/133868131-e755c7ba-87e6-4903-b0cd-332e483ed302.png)
![Screenshot_184](https://user-images.githubusercontent.com/47763383/133868126-50f7d778-f059-4997-b0a9-4e5516e82cfe.png)
[code]
I've searched

[2021-09-19 16:33] mastercoms commented on #576
Unfortunately these maps aren't properly made to support all setting cases, there's nothing we can do to fix it besides having the user choose their preferred performance vs. visual glitches balance.

[2021-09-19 16:33] #576 closed, assigned to mastercoms

[2021-09-20 00:09] Tiagoquix commented on #581
While I think this is a good idea, I also see that this is out of the scope for mastercomfig. It is very specific.

So, for now, your addon will be rejected. Thanks for the suggestion.

[2021-09-20 00:09] #581 closed, assigned to mastercoms

[2021-09-20 09:09] Tiagoquix commented on #581
To clarify what I mean: your suggestion is something very specific and personal. For example, we wouldn't put an addon of a HHH's skin, because that depends on each player's personal preference.

The idea of ​​your addon here is the same: the removal of Miss Pauling's lines and the domination sound is a personal preference that varies from player to player.

Personally, I have never seen anyone co

[2021-09-21 21:26] micwoj92 opened #596 "Use very advanced, cutting-edge git/GitHub features which allow one to edit multiple files at once."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when my RSS reader gets spammed with 200 notifications in 5 minutes.
https://github.com/mastercomfig/mastercomfig/commits/develop.atom

**Describe the solution you'd like**
Teach one of mastercomfig developers/contributors how to use advanced features. That will lead to increased productivity and decreased ann

[2021-09-21 22:00] ghost commented on #596
Important issue, needs to be resolved quickly.
Also consider amending commits when changes are small, writing helpful commit messages describing the type of change, grouping only relevant changes into one commit/pull request, and squash merging pull requests that have too many commits.

[2021-09-22 15:01] differentiaI commented on #581
I understand and its fine, but I believe you could add these to the extra mods section. Just a personal opinion. The Miss Pauling lines are active on community servers but won't work on them if you exclusively just play 2Fort or Hightower. But I understand its beyond the scope. Also I don't know a single person who actually likes the domination sound but then again you're right. The experience is

[2021-09-23 19:04] #596 closed, assigned to Tiagoquix

[2021-09-24 21:33] Tiagoquix commented on #581
About adding it to the extra mods section: no problem, this has been done here: https://github.com/mastercomfig/mastercomfig/commit/20fa49fed82f1c58e1a8d9523623c8ddf29e89f4.

The Miss Pauling Messages mod isn't published anywhere, it's just a direct download link. If you upload it to GameBanana, I can also add it.

Thank you for your interest in not giving up on the addon.

[2021-09-30 01:28] Sirbucket commented on #60
So far I had cleaned out what didn't exist in GMOD and what would be bad in GMOD (like entire removals of flashlights and physics props.)

[2021-10-04 17:14] differentiaI commented on #581
Since you asked so nicely I have added Miss Pauling's Message mod into gamebanana myself. Please consider adding it. Thank you.

https://gamebanana.com/mods/325900

[2021-10-04 21:23] Tiagoquix commented on #581
[Done](https://github.com/mastercomfig/mastercomfig/commit/10ca5d7995fe2717576f688df90b9d9af23d8281). Thanks!

[2021-10-11 03:13] Tiagoquix commented on #442
I think this issue can be closed. I tend to manually update the dates when I make changes.

[2021-10-11 03:14] Tiagoquix commented on #290
I think this issue can be closed, since the mastercomfig app is practically all you need.

[2021-10-11 14:40] mastercoms commented on #442
Well, of course it's a manual update now, because that's the only option. But it's still better to have the dates auto-update.

[2021-10-11 14:41] mastercoms commented on #290
It's better IMO if we have a few GIFs still for people who cannot use the direct install method.

[2021-12-01 22:08] StellaSmith opened #609 "Black artifacts"
In the [next step page about the black artifacts in linux](https://docs.mastercomfig.com/page/next_steps/quick_fixes/#black-artifacts-all-over-the-screen-on-linux) has the wrong commands, at least for me. The commands i use to fix this are
[code]

[2021-12-01 22:08] #609 closed, assigned to mastercoms

[2021-12-01 22:09] mastercoms commented on #609
lighting_ex=high as recommended in that sets mat_phong 1.

[2021-12-01 22:11] StellaSmith commented on #609
but then `mat_specular 1` is unnecessary right?

[2021-12-01 22:14] mastercoms commented on #609
This is a general solution on the documentation. It can't speak specifically for your case, but it may be needed for some users so it's listed.

[2021-12-01 22:16] micwoj92 opened #610 "mastercomfig logo on website is really big"
**Describe the bug**
mastercomfig logo on website is really big

**How you encountered the issue**
I went to https://docs.mastercomfig.com/page/next_steps/quick_fixes/

**Screenshots**
![image](https://user-images.githubusercontent.com/45581170/144322629-8650f185-5596-495c-973f-e076e52f5f53.png)

**Desktop (please complete the following information):**
* mastercomfig version:  bash: version_comfig

[2021-12-01 22:16] StellaSmith commented on #609
Gotcha

[2021-12-01 22:17] micwoj92 commented on #610
I hard refreshed page and it works now, thank you for quick fix @mastercoms
![image](https://user-images.githubusercontent.com/45581170/144323028-ad0ce452-a435-4c6a-9264-605c84765265.png)

[2021-12-01 22:17] #610 closed, assigned to mastercoms

[2021-12-22 23:43] CrashedNLanded opened #612 "Modules not working"
Currently for me the modules don't work at all no matter what preset I have and the module adjustments I use.

**How you encountered the issue**
With both the browser and the app

**Screenshots**
I can't show screenshots atm.

**Desktop (please complete the following information):**
* mastercomfig version 9.6.3
* Preset and addon(s): Null canceling, flat mouse, no tutorial, and disable pyroland
*

[2021-12-22 23:49] Kenajcrap commented on #612
once you are able to show screenshots, please screenshot your `tf\cfg\user` folder and `tf\custom` folder.

[2021-12-23 01:29] mastercoms commented on #612
Hi! Just to get some clarification, what do you mean by "with both the browser and the app"?

Also, did you download customizations and put them in a user folder tf/cfg?

[2021-12-23 02:01] micwoj92 commented on #612
tf2 browser game

[2021-12-24 00:49] CrashedNLanded commented on #612
Yeah i dont know what I meant from that, I mean from the .exe, and yes I did send the send the customizations to the user folder in that folder location.

[2021-12-24 00:50] CrashedNLanded commented on #612
I tried from both the SSD and my storage drive and neither worked.

[2021-12-24 00:55] CrashedNLanded commented on #612
Ok I dont know how but I just fixed the problem, sorry for wasting your guy's time.

[2021-12-24 00:55] #612 closed, assigned to mastercoms

[2022-03-17 15:59] slambo311 opened #623 "Customization doesn't load"
**Describe the bug**
On the mastercomfig website, the customization stuff just doesn't load.

**How you encountered the issue**
1. Go on the mastercomfig download page
2. Click "Customization"
3. Wait 19283413248 hours for it to not load

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/61334045/158840399-1827845d-1bc3-

[2022-03-17 16:18] slambo311 commented on #623
aaand crap i should've put this on the website's repository

[2022-03-17 17:41] mastercoms commented on #623
I can't reproduce this issue. Make sure your cache is up to date (ctrl+shift+R)

[2022-03-17 18:24] slambo311 commented on #623
Alright, ctrl shift R didn't change anything other than an "Install app" button (the app's just the same dang website but in a separate window) showing up. Still doesn't load. Maybe I'm just impatient. How long does it take for it to load for you?

[2022-03-17 18:32] slambo311 commented on #623
If it helps, Chrome says I have 3 cookies in use and the "Modules" button doesn't do anything. Plus, that update hasn't been deployed yet.

[2022-03-17 18:34] mastercoms commented on #623
It loads in under a second for me. Could you open Dev Tools (Ctrl+Shift+I, or F12) and go to the Console tab? Let me know what messages/errors you see in there.

[2022-03-17 18:36] slambo311 commented on #623
Crap, my Chromebook doesn't let me open the dev tools.

[2022-03-17 18:38] mastercoms commented on #623
Are you able to access https://mastercomfig.mcoms.workers.dev/?v=2

[2022-03-17 18:40] slambo311 commented on #623
Yeah. Also it doesn't load in mobile Firefox either.

[2022-03-17 18:42] mastercoms commented on #623
Can you give me the exact URL of the page you're visiting?

[2022-03-17 18:48] slambo311 commented on #623
mastercomfig.mcoms.workers.dev/?v=2
The site just shows a bunch of HTML code, though.

[2022-03-17 18:49] mastercoms commented on #623
I meant for the download page

[2022-03-17 18:54] slambo311 commented on #623
mastercomfig.com/app

[2022-03-17 18:56] slambo311 commented on #623
mastercomfig.com/app

[2022-03-17 18:57] slambo311 commented on #623
On the main page, it showed a windows icon on the launch button despite me being on a chromebook, if that helps.

[2022-03-17 18:59] slambo311 commented on #623
Alright, the problem still happens on my samsung phone, but that might just be because I'm using mobile data, since I'm on a bus now.
Works fine on mobile Opera GX though.

[2022-03-17 19:02] mastercoms commented on #623
The icon is meant to be just a generic app icon, not a Windows icon. And I'm sorry, I'm out of ideas. I will try to see if I can find the issues within the next few days.

[2022-03-17 19:04] slambo311 commented on #623
Alright.

[2022-03-18 12:46] slambo311 commented on #623
Ok, so my theory is that the bug only happens on certain browsers, like Firefox and Chrome. But that's all I got.

[2022-03-18 14:11] mastercoms commented on #623
Those are the only 2 browsers I test on

[2022-03-18 17:02] mastercoms commented on #623
On the mastercomfig Discord, we found a possible error that prevents customizations from loading in cases where IndexedDB (a browser storage technology) is not available. I have deployed a fix which falls back to in-memory storage (which does not save anything between sessions, but at least allows the app to function). Please let me know if this resolves your issue.

[2022-03-18 17:23] slambo311 commented on #623
Alright, it still won't load. Plus, on the cookie menu thing, it still shows an indexed database. Weird.
![image](https://user-images.githubusercontent.com/61334045/159051590-500f7817-6f6e-45b1-a357-54b2620dfce5.png)

[2022-03-18 17:29] mastercoms commented on #623
Could you force refresh the page again? I just added error tracking so maybe I will be able to see the error now. It's with sentry which may be adblocked.

[2022-03-18 17:32] slambo311 commented on #623
Alright, I force refreshed it again, still not loading. As for the sentry thing, I don't use any adblockers, plus I have the ad permission on in site settings.

[2022-03-18 18:37] mastercoms commented on #623
I just deployed even more error tracking, since I was not able to see any errors so far. Force refresh again and I'll see if it goes through now.

[2022-03-18 19:21] slambo311 commented on #623
Alright.

[2022-03-20 12:34] WhyIsEvery4thYearAlwaysBad commented on #60
Nice. Can you publish your progress online?

[2022-03-20 21:22] micwoj92 commented on #60
@WhyIsEvery4thYearAlwaysBad

https://github.com/Sirbucket/mastercomfig

[2022-03-20 21:25] micwoj92 commented on #623
@slambo311 any progress bro?

[2022-03-20 22:10] slambo311 commented on #623
No, not really.

[2022-03-21 16:43] Tiagoquix opened #625 "Resolution of double running addons"
I'm opening this issue to possibly find a solution to the addons system that went back to the old way, leaving aside the pre and post system.

The only problem I've seen so far is the fact that the Transparent Viewmodels addon executes the module commands after the modules are applied. This will, for example, cause a user who uses post_processing=high in their modules.cfg to be replaced with post_

[2022-03-21 19:31] #625 closed, assigned to nobody

[2022-03-21 19:37] mastercoms commented on #625
Yes I just hadn't updated the package script yet for the addons change. move_bind is intentionally removed because the app will handle keybinds.

[2022-03-28 12:48] slambo311 commented on #623
Alright, it's working now. At least, on Firefox it works. One really crappy extension I have (and can't delete) blocked mastercomfig on Chrome, so I can't test it on there.

[2022-03-28 20:18] micwoj92 commented on #623
school chromebook spyware

[2022-03-28 20:36] slambo311 commented on #623
Exactly.

[2022-03-29 14:42] #623 closed, assigned to mastercoms

[2022-04-09 05:41] Tiagoquix opened #634 "Ping tolerance link"
In https://mastercomfig.com/app, when clicking in the "read the docs" icon for the Ping Tolerance module it doesn't work since it redirects to `https://docs.mastercomfig.com/page/customization/modules/#ping-tolerance-(matchmaking)`. The correct link is `https://docs.mastercomfig.com/page/customization/modules/#ping-tolerance-matchmaking`. Could you make it so it redirects correctly?

Thanks in adv

[2022-04-09 05:47] Tiagoquix commented on #634
Issue moved to https://github.com/mastercomfig/mastercomfig.github.io/issues/35.

[2022-04-09 05:47] #634 closed, assigned to nobody

[2022-04-10 07:12] Tiagoquix opened #635 "sv_lan in listenserver.cfg"
I'm pretty sure that sv_lan 1 being in listenserver.cfg and not being set before the server is created makes it ineffective.

A few things that suggest this to be true:

1) https://developer.valvesoftware.com/wiki/Command_Line_Options

2) Creating a server using mastercomfig 9.8.1 (sv_lan only being set after loading a map):
![image](https://user-images.githubusercontent.com/30274161/162606508-13f

[2022-04-10 15:35] mastercoms commented on #635
Fixed in 49b693fd017ee708d2938c758ec752c896d1d37b

[2022-04-10 15:35] #635 closed, assigned to nobody

[2022-04-11 10:56] Tiagoquix commented on #210
@mastercoms About the current recommended DirectX (dxlevel 100), is it really necessary?

I think not. It just makes users have to worry about something that I consider to be kind of unnecessary, since the default dxlevel for the vast majority of systems is dxlevel 95.

I suppose the Source Engine itself determines the proper value when booting the game for the first time (e.g. I think on very old

[2022-04-18 22:10] Tiagoquix opened #637 "DirectX Levels"
https://github.com/mastercomfig/mastercomfig/issues/210#issuecomment-1094905726

[2022-04-18 22:12] Tiagoquix opened #638 "packet_rate=max question"
Wouldn't it be better to use max cmdrate and max updaterate by default, since on servers that allow more than 66 this would be an advantage?

[2022-04-25 19:29] WhyIsEvery4thYearAlwaysBad opened #639 "Only `user/modules.cfg` is executed, despite the supposed change to use overrides instead."
**Describe the bug**
Only `user/modules.cfg` is executed, despite the supposed change to use overrides instead.

**How you encountered the issue**
1. Create the file `overrides/modules.cfg`.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
* mastercomfig version: 9.8.0 | March 18, 2022
* Preset and addon(s): Dis

[2022-04-25 20:25] mastercoms commented on #639
This is something on your end. https://github.com/mastercomfig/mastercomfig/blob/develop/config/mastercomfig/cfg/comfig/comfig.cfg#L1955

[2022-04-25 20:25] #639 closed, assigned to mastercoms

[2022-05-22 19:14] #638 closed, assigned to nobody

[2022-05-22 19:14] #637 closed, assigned to nobody

[2022-05-26 06:46] GabenCrying opened #644 "Network issue w/ player collision"
**Describe the bug**
Player animation radically delayed, more so than usual, as well as player model clipping

**How you encountered the issue**
I only play spy, and backpeddling players as well as any contact movement based manuevers feel like im rubber banding in and out of them which makes backstabs difficult

**Screenshots**
Only a video would suffice, here is thy link!
https://www.youtube.com

[2022-05-27 06:49] mastercoms commented on #644
This is just an issue with the game itself, due to player movement prediction collision. Are you sure this only happens with mastercomfig?

[2022-05-27 19:46] GabenCrying commented on #644
Hey! Actually I'm not entire certain anymore. I do NOT have this problem at all on official casual servers, but it seems to be prevelent on community servers exclusively. I don't know what to blame this on. Leaning towards community servers. I am going to test that showerror command in about 30 minutes from now, will update then!

[2022-05-27 20:23] GabenCrying commented on #644
Well, I got pred errors on a lot of stabs, then I looked in to that and found

cl_pred_optimize

changing that to 1 rather than 2 seems to have helped a great deal, does that add up or is this placebo

[2022-05-28 02:03] mastercoms commented on #644
That makes sense. 2 basically allows some error to add up to a certain point before correcting. 1 will just correct immediately. I think at some point in comfig we did use cl_pred_optimize 1 for all classes and it had some issues. However, having it for just spy makes a lot of sense, since the tiny errors don't act in your favor as spy, since the angles can be on the edge of a backstab.

[2022-05-28 02:19] #644 closed

[2022-05-28 11:09] RicochetYT commented on #638
I know this has already been closed and not planned; However, I wanted to explain why this may possibly be a decision that should be avoided by anyone in the future.

Let me preface this with the simple fact that I am:
- Not a networking expert
- Not a Source Engine expert
- Not going to complain if I am **PROVEN** wrong
- A Spy main (I've researched too long into looking for the best network sett

[2022-05-28 11:11] RicochetYT commented on #644
I've noticed similar issues while playing, myself, and I'm curious if setting cl_pred_optimize to 1 will actually help Spy, as it's probably one of the one things I've not tested. I'll test around with this.

[2022-05-28 15:01] mastercoms commented on #638
That page wasn't written by Valve employees. Also, cl_interp is used to bypass harmful community server restrictions on interp ratio which force it to a low value for no reason. As long as in the end we are getting the correct client interp value, it doesn't matter which cvar we use.

[2022-05-28 15:12] RicochetYT commented on #638
Yeah, sorry, forgot what a wiki is.

I moreso meant that we should keep lerp as low as possible when it comes to TF2, so 15.2 lerp. I didn't mean that the cvar we used to achieve this mattered.
[You say that cl_interp 0.0152 (or the lowest lerp possible) is bad for several reasons](https://docs.mastercomfig.com/latest/tf2/misconceptions/), however, has there been significant enough testing to show

[2022-05-28 15:27] mastercoms commented on #638
Yes, quite obviously. Showing your game things which never happened on the server will get you worse hitreg (which is what happens when your game simulates over interp, due to networking delays). You can see this in net_graph, you will get interp tick errors, which means you're extrapolating. Extrapolating is harmful in many different scenarios, especially for close quarters hitscan fights.

[2022-05-28 15:30] RicochetYT commented on #638
So... Lower interpolation is better? Or am I misunderstanding you?

[2022-05-28 15:32] mastercoms commented on #638
I'm saying that when your game has no data to use from the server to simulate (happens when you only have 1 tick of buffering due to the lowest lerp possible), your game will show things that never happened on the server (extrapolation). So in situations sensitive to that behavior, it is better to have a higher interp to increase your safety. Hitscan is lag compensated for things that _did_ happen

[2022-05-28 15:36] RicochetYT commented on #638
Alright. So is there a balance between low interp (net_spy) and medium interp (net_hitscan)? Spy has revolvers too, not just knives. Would that safety help or harm Spy's stabs?

[2022-05-28 15:41] mastercoms commented on #638
No, there's no balance unfortunately. My current understanding is due to the unlimited rotation rate/acceleration in the game, and the boundaries for what is considered a backstab, it's best to limit the interpolation to buffer for 1 tick.

[2022-05-28 15:44] RicochetYT commented on #638
Alright, thanks.
I do feel like there needs to be heavy investigation into every decision made for every setting we change from stock in TF2, especially when it comes to anything that will affect hit registration, but that's just me.

[2022-05-28 15:50] mastercoms commented on #638
What makes you feel that there hasn't been?

[2022-05-28 15:51] RicochetYT commented on #638
Just not enough documentation on reasoning, as well as not enough solid evidence.

[2022-05-28 15:53] mastercoms commented on #638
Could you elaborate on that?

[2022-05-28 15:58] RicochetYT commented on #638
You have documentation for mastercomfig, but, I feel like a lot of it isn't well substantiated.
 "This means you will be subject to inaccurate extrapolation which is not in line with the server’s history, all for getting lower visual latency on entity positions within a few milliseconds, which doesn’t matter when positions cannot be substantially different within that time. Instead, you will want

[2022-05-28 16:02] mastercoms commented on #638
What about this seems non-evident to you? Maybe the documentation can give more information about how interp works, but it's not fair to say that there's no investigation/solid evidence/whatever else you said just because there's an assumption the reader knows how these things work. Could you explain to me why the concept of server history and extrapolation need references into source code?

"Pack

[2022-05-28 16:07] RicochetYT commented on #638
It'd be helpful if you linked to more sources is all. Valve documentation, the Source SDK, anything to show where you've learned the stuff you know from.

To expand on this:
It is common practice in writing to cite sources and present appropriate evidence, and it is very important for several reasons that should be obvious.
Always assume your reader (the person reading your documentation etc), has

[2022-05-28 16:10] mastercoms commented on #638
Source code on its own doesn't provide any justification. The _analysis_ of it does, which is what is already present. If you're saying it would be helpful to follow along in the source code as you read the justification, then that could be something useful I can add in the future, but it isn't exactly a source for justification.

One thing I _can_ point to in terms of Valve is that in CS:GO, a ve

[2022-05-28 16:15] mastercoms commented on #638
This is exactly why I don't link to source code. Most people are satisfied with the explanations/analogies given on the topic. The assumption here is that they have a basic understanding of concepts like how a recorded history would intuitively work, and analogies are provided to support this understanding.

[2022-05-28 16:17] RicochetYT commented on #638
This is what I meant, the analysis and explanation of it. Analyzing the source code of a game should be your last resort, assuming documentation for the game (or the engine it's running on) exists and it is properly maintained by the developers of the game/engine. I have no clue if there is anything like this for Source or TF2, as I have not looked into it much, the only thing I personally know ab

[2022-05-28 16:17] RicochetYT commented on #638
I do understand this, but I feel like for proper documentation sake, there should be a more advanced form of documentation for nerds.

[2022-05-28 16:23] mastercoms commented on #638
Yes, unfortunately this is the last resort we have to go to. Valve provides very little documentation on their own engine, with most of it being regarding the creation tools, and predominately dating back to 2005. The rest of the wiki is simply just other people analyzing the source code for themselves, nothing special or authoritative about it. There is also straight up incorrect/misleading infor

[2022-06-22 13:29] oXrayXo opened #646 "Null-Canceling Movement script doesn't work..."
**Describe the bug**
Null-Canceling Movement script just doesn't work.

**How you encountered the issue**
I followed Mastercomfig Clean Up setup, downloaded medium low preset and Null-canceling Movement script, I put those files in tf_custom, I ran the game, I typed in map_itemtest in console and entered, the script didn't work.

[2022-06-22 13:59] micwoj92 commented on #646
don't use it

[2022-06-22 14:12] mastercoms commented on #646
did you follow the instructions listed on the addon to bind it?

[2022-06-22 14:13] #646 closed, assigned to mastercoms

[2022-07-20 17:44] AmandaRoseChaqueta opened #654 "Typo on Linux Optimization Documentation."
**Describe the bug**
The page for optimizations for linux on Mastercomfig documentation (https://docs.mastercomfig.com/page/os/linux/) has an error on the Native Libraries instruction section, specifically the Debian/Ubuntu-based distributions installation command where instead of saying "sudo apt install libsdl2-2.0-0:i386" it shows up as "sudo apt install apt install libsdl2-2.0-0:i386".
**Scree

[2022-07-20 18:02] micwoj92 commented on #654
ON IT!

[2022-07-20 18:57] #654 closed, assigned to mastercoms

[2022-07-29 20:32] backgroundman opened #661 "Typo in Linux Optimizations section"
https://docs.mastercomfig.com/latest/os/linux/#native-libraries
`sudo apt install apt install libsdl2-2.0-0:i386`

[2022-07-29 20:41] micwoj92 commented on #661
this is already fixed

[2022-07-29 21:19] #661 closed, assigned to mastercoms

[2022-07-30 18:55] AmandaRoseChaqueta commented on #654
![Screenshot from 2022-07-30 13-52-52](https://user-images.githubusercontent.com/89411895/181937676-f7fa0e7b-a82e-48ec-b7d2-abce8f0cefd8.png)
Looks like the website still displays the same typo even after the github change https://docs.mastercomfig.com/page/os/linux/#native-libraries

[2022-08-17 12:41] kittyra opened #664 "Missing OpenGL addon on Airtable."

[2022-08-22 15:21] wweony23 opened #668 "Tf2 does not recognize reset.cfg"
**Describe the bug**
My game does not recognize reset.cfg
**How you encountered the issue**
Saw error message in a console after I switched from scout to pyro.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
* mastercomfig version: 9,6,3
* Preset and addon(s):
![изображение](https://user-images.githubuserconten

[2022-08-22 15:26] micwoj92 commented on #668
You can use game_overrides.cfg instead of reset.cfg

[2022-08-22 15:47] mastercoms commented on #668
also shouldn't have your normal cfgs in overrides folder if you are using exec reset, etc. either update to exec overrides/reset, etc or move them back to the main cfg folder

[2022-08-22 15:59] wweony23 commented on #668
i deleted all overrides but reset.cfg is still broken

[2022-08-22 16:27] mastercoms commented on #668
no one asked you to delete anything, could you follow the instructions regarding moving a few files selectively out of overrides?

[2022-08-22 17:45] wweony23 commented on #668
ok i moved all files back and left game_overrides only
![изображение](https://user-images.githubusercontent.com/72761693/185985335-651ee331-969b-478a-a641-2c539bebe176.png)
`'reset' not present; not executing.
`
Still have this issue

[2022-08-22 17:53] micwoj92 commented on #668
Where do you have reset.cfg then now?

[2022-08-22 18:03] mastercoms commented on #668
Your class configs, autoexec and modules should also be in overrides, but yes, where is your reset.cfg now?

[2022-08-22 18:21] wweony23 commented on #668
![изображение](https://user-images.githubusercontent.com/72761693/185991525-0e2d41c0-4ccf-411d-9692-88e916dab85f.png)

[2022-08-22 18:21] wweony23 commented on #668
Those copies and other weird files are for test so ignore them.

[2022-08-22 18:26] wweony23 commented on #668
what does mean "normal cfgs"
is that classes one?
I did not get it at all
at first you say me to bring them back to cfg folder and then you say me to bring them back

[2022-08-22 20:21] mastercoms commented on #668
Please refer to the installation guide: https://docs.mastercomfig.com/latest/setup/install#custom-configs

It specifies exactly which files to put in overrides, as I have also said. You should have them in `tf/cfg/overrides`. All other files should be in `tf/cfg`.

[2022-08-23 15:06] wweony23 commented on #668
ok what should I do if I want to make resetting system with overrides instead of reset.cfg?

[2022-08-23 15:19] mastercoms commented on #668
That's how you do it. `reset.cfg` would be in `tf/cfg`. Or, you can move `reset.cfg` to `tf/cfg/overrides`, but then you have to change `exec reset.cfg` to `exec overrides/reset.cfg`.

If you mean how to use `game_overrides.cfg`, just have a `game_overrides.cfg` in `tf/cfg/overrides`. Copy and paste from `reset.cfg` into `game_overrides.cfg`. Remove all `exec reset.cfg`. `game_overrides.cfg` will

[2022-08-31 00:10] wweony23 commented on #668
Well, I picked 2nd variant. Thank you for your help!
 Also, for some reason I cannot make my cl_interp higher then 0.030303.
 Is it caused by game limits or mastercomfig settings?

[2022-08-31 00:15] mastercoms commented on #668
How are you trying to set it?

[2022-08-31 12:02] wweony23 commented on #668
cl_interp 5

[2022-08-31 13:20] mastercoms commented on #668
Where are you setting it?

[2022-08-31 19:48] wweony23 commented on #668
ingame console

[2022-08-31 19:48] wweony23 commented on #668
~ button

[2022-08-31 19:49] wweony23 commented on #668
before joining a match

[2022-08-31 21:40] mastercoms commented on #668
put it in game_overrides.cfg, also I don't recommend it just so you know

[2022-09-01 10:06] #668 closed, assigned to mastercoms

[2022-09-01 13:21] wweony23 commented on #668
tried it but it did not help me

[2022-09-01 13:21] wweony23 commented on #668
for some reason it goes back to cl_interp 0.030303

[2022-09-01 13:30] wweony23 commented on #668
![изображение](https://user-images.githubusercontent.com/72761693/187926426-0759f76e-2d2b-47e3-80d7-c3290ba20f7f.png)

[2022-09-01 13:44] wweony23 commented on #668
the thing is it keeps resetting whenever I join a match

[2022-09-01 13:45] wweony23 commented on #668
i surfed the net and all thoose cases have one thing similar, all of them used mastercomfig

[2022-09-01 14:18] mastercoms commented on #668
what file is that

[2022-09-01 14:20] wweony23 commented on #668
![изображение](https://user-images.githubusercontent.com/72761693/187937345-27662d86-864a-4639-86b3-aa7ed0ef6e3c.png)

[2022-09-01 14:20] wweony23 commented on #668
game_overrides.cfg

[2022-09-01 14:57] wweony23 commented on #668
anything wrong?

[2022-09-01 16:18] mastercoms commented on #668
You should also put snapshot_buffer=custom in modules.cfg

[2022-09-01 17:17] wweony23 commented on #668
okay let me try

[2022-09-01 17:21] wweony23 commented on #668
'user/game_overrides.cfg' not present; not executing.

[2022-09-01 17:22] wweony23 commented on #668
i just noticed it

[2022-09-01 17:23] wweony23 commented on #668
maybe that's why

[2022-09-01 17:24] wweony23 commented on #668
here it is C:\Program Files (x86)\Steam\steamapps\common\Team Fortress 2\tf\cfg\overrides

[2022-09-02 02:24] mastercoms commented on #668
Can you put `version_comfig` in console and tell me what it says?

[2022-09-06 08:28] wweony23 commented on #668
ok i fixed it by moving game_overrides into user folder
] version comfig
Build Label:           7431962   # Uniquely identifies each build
Network PatchVersion:  7431962   # Determines client and server compatibility
Server AppID:           232250
Protocol version:           24   # High level network protocol version
Client version:        7431962
Server version:        7431962
Client AppID:

[2022-09-06 08:28] wweony23 commented on #668
Also for some reason I cannot use weapon taunt
I press G button and it shows taunt menu, but when i press G again nothing happens

[2022-09-06 08:37] wweony23 commented on #668
I can change cl_interp but I still cannot call game_overrides.cfg via console which is really weird

[2022-09-06 08:38] treacherousfiend commented on #668
you have to type specifically `version_comfig` with an _ between the 2 words. Because you used a space it just used the default source engine `version` command.
The fact that it worked after you moved it to the user folder means you have a pretty outdated version of comfig, and probably should update
And as for the weapon taunt, there's a couple of weapons that don't have weapon taunts, do _none_

[2022-09-06 18:57] wweony23 commented on #668
i type exec game_overrides.cfg
mastercomfig version : 9.6.3 | September 20, 2021
speaking of taunts it applies to every single weapon I use so it is definetly a bug

[2022-09-06 19:55] treacherousfiend commented on #668
the exec command requires filepaths relative to the cfg folder, so because its in the user folder, you'd need to type `exec user/game_overrides.cfg`
Also, that version of comfig is nearly a year old, and you probably should update.
If you do update, you'll need to rename the `user` folder to `overrides`.

[2022-09-08 23:27] getchoo opened #672 "Medium-high preset and above causing issues on Wayland"
**Describe the bug**
When using a clean/fresh install, TF2 is able to run normally on Wayland. However, after installing a preset that is medium-high and above, the main menu will be invisible; and on the second launch, nothing will render and it will just be a black screen. This will persist even after everything has been removed from custom, and the only way i've found to reverse this is through

[2022-09-09 00:30] mastercoms commented on #672
Can you test if setting anti_aliasing=off fixes it?

[2022-09-09 00:43] getchoo commented on #672
thanks, turning it off worked! i do want to ask though: is this due to mat_alphacoverage or just mat_antialias?

[2022-09-09 01:42] mastercoms commented on #672
probably msaa because it changes the video mode

[2022-09-09 01:48] getchoo commented on #672
ah shame, i like msaa :( but i've been dealing with this for months, so i'm glad to have a fix

[2022-09-09 01:48] #672 closed, assigned to mastercoms

[2022-10-03 21:48] mastercoms opened #678 "No footsteps can cause prediction issues"

[2022-10-03 21:49] mastercoms opened #679 "Demo crashes"

[2022-10-03 22:01] mastercoms commented on #678
Doesn't happen, tested

[2022-10-03 22:01] #678 closed, assigned to mastercoms

[2022-10-09 17:31] mastercoms opened #681 "Investigate mat_postprocess_x graphical side effects"

[2022-10-25 18:14] Tiagoquix opened #682 "Change the logo module to an echo module"
Change it to

echo=simple
echo=detailed (default)

where echo=simple simply displays "mastercomfig loaded version with number", and echo=detailed displays everything plus the logo.

I personally don't like the current long and spacious echo the config has.

I can do a PR for this, but I need your (mastercoms) approval first.

[2022-10-31 09:26] mastercoms opened #684 "Figure out cl_interp on NPCs"
Fixed laggy animations on Halloween bosses, skeletons, ghosts and other ghoul-like beings

https://youtu.be/TGulB0MfxPs?t=235

For some reason, this doesn't work consistently, will have to investigate why

[2022-10-31 10:21] mastercoms commented on #684
I'm not too sure what this change actually entailed.

[2022-10-31 10:48] mastercoms commented on #682
I don't agree with customizing the echo past the logo.

[2022-10-31 10:48] #682 closed, assigned to nobody

[2022-10-31 11:05] mastercoms commented on #681
Doesn't seem like there's any.

[2022-10-31 11:05] #681 closed, assigned to mastercoms

[2022-11-03 01:53] Tiagoquix commented on #684
Try this, maybe it works:

[code]

sv_client_min_interp_ratio               : 1        : , "rep"          : This can be used to limit the value of cl_interp_ratio for connected clients (only while they are connected).               -1 = let clients set cl_interp_ratio to anything  any other value = set minimum value for cl_interp_ratio

[2022-11-03 01:55] Tiagoquix commented on #679
Try messing up with demo_legacy_rollback and demo_interpolateview (0 and 1 values), see if it works.

[2022-11-09 20:55] Tiagoquix opened #687 "A question about r_fastzreject"
I've seen changes in the value of this cvar several times. Honestly, I don't know what it does, but wouldn't the ideal perhaps be to remove it from comfig.cfg and let the default value take effect?

Thanks for the attention.

[2022-11-10 13:10] #687 closed, assigned to nobody

[2022-11-10 14:58] Tiagoquix commented on #687
🤔

[2022-11-10 16:24] mastercoms commented on #687
What does it matter if the default value comes from comfig or the game? It's about picking a default value in the end for the user. So I'm not sure what this question is about.

[2022-11-10 16:32] Tiagoquix commented on #687
Well, it's just an honest question. [Doing a quick internet search](https://duckduckgo.com/?q=r_fastzreject), it seems good to enable it for users with ATI graphics cards (but they are old; forum threads are from the HL2 era). But anyway, thanks for the answer.

[2022-11-10 16:34] mastercoms commented on #687
Well the initial question wasn't asking what it does. It does a full z prepass, you might find better results searching that.

[2022-11-10 16:36] mastercoms commented on #687
The reason I flip between it is because of fillrate vs prepass is very hard to measure especially on such a wide range of cards. The cost tradeoffs are not immediately clear but it also depends on a variety of other settings within the config.

[2022-11-10 16:39] aSeriousDeveloper commented on #687
I noticed that according to the [Valve Developer Wiki](https://developer.valvesoftware.com/wiki/Console_Command_List/R) that r_fastzreject supports a value of -1 to defer to hardware settings.

Is this something supported in TF2 / useful? Or is this just more likely to cause inconsistency between different installations of mastercomfig?

[2022-11-10 16:47] mastercoms commented on #687
No such hardware query exists. A non-zero value enables it.

[2022-11-22 18:17] Sloofy commented on #684
Not sure how much of a good lead this is, but from https://github.com/ValveSoftware/Source-1-Games/issues/4413#issuecomment-1282123531

Changing the value to 0.05 (default is 0.1) fixes the stuttering for bosses and skeletons,
but it may increase usages on server or client PC's.

[2022-11-22 18:29] mastercoms commented on #684
No, that's not a real solution.

[2022-11-23 02:35] Ashetf2 commented on #684
Indeed. From the same issue.